.menu {
    background-color: $gray-3;
}

.menu--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.menu__inner-container {
    margin: 0 auto; 

    @media (min-width: 1200px) {
        width: 1170px;
    }
}

.menu__list {
    @include list-reset();
    @include clearfix();
    position: relative;

    @media (min-width: 992px) {
        display: block !important;
    }

    @media (max-width: 991px) {
        padding: 15px;
        background-color: $gray-3;
        border: 2px solid #fff;
        position: fixed;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        z-index: 1000;
        transform: translateX(-105%);
        transition: transform .3s ease;
    }
}

.menu__list--open {
    overflow-y: auto;
    transform: translateX(0) !important;

    @media (min-width: 992px) {
        transform: none !important;
    }
}

.menu__list-close {
    padding: 15px;
    font-size: 25px;
    line-height: 1;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    &:hover {
        color: $red;
    }

    @media (min-width:992px) {
        display: none;
    }
}

.menu__item {
    @media (max-width: 991px) {
        margin-bottom: 10px;
        
        &:hover > a {
            color: $red;
        }

        &.active > a {
            color: $red;
        }
    }

    @media (min-width: 992px) {
        width: 16.6666667%;
        text-align: center;
        float: left;

        &:not(:last-of-type) {
            border-right: 1px solid #a8a8a8;
        }

        &:hover {
            & > a:before {
                width: 100%;
            }

            .submenu {
                display: block;
            }
        }

        &.active > a:before {
            width: 100%;
        }

        & > a {
            display: block;
            padding: 18px 0;
            position: relative;

            span {
                position: relative;
                z-index: 1;
            }

            &:before {
                content: '';
                display: block;
                width: 0;
                background-color: $red;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                z-index: 0;
                transition: width 0.4s ease;
            }
        }
    }
}