.mobile-menu {
    background-color: $gray-3;
    display: flex;
    justify-content: space-between;

    @media (min-width: 992px) {
        display: none;
    }
}

.mobile-menu__toggle {
    margin-left: auto;
    padding: 12px;
    background-color: transparent;
    color: #fff;

    &:hover {
        .mobile-menu__toggle-bar {
            background-color: $red;
        }        
    }
}

.mobile-menu__toggle-bar {
    width: 28px;
    height: 2px;
    background-color: #fff;
    transform-origin: left;
    transition:
        transform 0.3s ease,
        opacity 0.3s ease;

    &:nth-child(2) {
        margin: 7px 0;
    }
}