.page-header {
    flex: 0 0 auto;
    background-color: $black;
    color: #fff;
    font-size: 20px;
}

.page-header--index {
    @media (min-width: 992px) {
        position: relative;
    
        .menu {
            background-color: rgba($black, 0.73);
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
        }
    }
}
 
.page-header-top {
    padding: 25px 15px 18px;
    text-align: center;

    @media (min-width: 992px) {
        padding-bottom: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media (min-width: 1200px) {
        margin: 0 auto;
        width: 1170px;
    }
}

.page-header-top__link {
    display: block;
    position: relative;

    &:hover {
        color: $red;
    }

    .icon {
        color: $red;
        position: relative;
        bottom: -2px;
    }

    @media (max-width: 991px) {
        margin-bottom: 15px;
    }
}

.page-header__cart {
    font-size: 28px;
    color: $red;
}

.page-header__cart-inner {
    display: inline-block;
    position: relative;

    &:hover {
        color: #fff;
    }
}

.page-header__cart-quantity {
    width: 22px;
    height: 22px;
    background-color: #fff;
    color: $black;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 14px;
    line-height: 21px;
    border-radius: 50%;

    &:empty {
        display: none;
    }
}

.page-header__logo {
    width: 100%;
    max-width: 280px;
    font-size: 0;
    
    img {
        width: 100%;
    }

    @media (max-width: 991px) {
        margin: 0 auto 15px;
        max-width: 220px;
    }
}