.submenu {
    padding-left: 10px;
    
    @media (min-width: 992px) {
        display: none;
        padding-left: 0;
        padding-top: 30px;
        background-color: #58595b;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 5;
    }
}

.submenu__group {
    margin-top: 10px;
    
    @media (min-width: 992px) {
        margin-top: 0;
        margin-bottom: 30px;
    }
}

.submenu__title {
    font-family: $bank;
    text-align: left;
    font-size: 20px;

    &:hover {
        color: $red;

        a:after {
            content: none;
        }
    }

    a {
        display: inline-block;
        position: relative;

        &:after {
            content: '';
            height: 1px;
            background-color: #fff;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 2px;
        }
    }
    
    @media (min-width: 992px) {
        margin-bottom: 5px;
        padding-left: 20px;
    }
}

.submenu__list {
    @include list-reset();
    text-align: left;

    @media (min-width: 992px) {
        @include clearfix();
    }
}

.submenu__list-item {
    padding: 4px 0;
    padding-left: 20px;
    font-size: 16px;
    position: relative;
    
    &:before {
        content: "\e902";
        font-family: 'icomoon';
        font-size: 12px;
        font-weight: bold;
        color: $red;
        position: absolute;
        top: 8px;
        left: 5px;
    }
    
    &:hover,
    &.active {
        color: $red;
    }
    
    @media (min-width: 992px) {
        width: 33.33333333%;
        float: left;

        &:before {
            content: "";
        }
    }
}