.about-hero {
    padding: 100px 15px;
    background-image: url(../img/about-bg.jpg);
    background-position: center;
    background-size: cover;
    font-size: 25px !important;
    text-align: center !important;
    font-family: $bank !important;
    color: #fff !important;

    * {
        margin-left: auto !important;
        margin-right: auto !important;
        font-size: 25px !important;
        text-align: center !important;
        font-family: $bank !important;
        font-weight: 400 !important;
        color: #fff !important;
    }

    @media (min-width: 768px) {
        padding: 150px 75px;
    }

    @media (min-width: 992px) {
        padding: 205px 145px;
    }
}