.article {
    margin-bottom: 45px;
    padding: 0 15px;
    font-size: 16px;
    color: $gray-1;

    &:hover {
        .article__title {
            color: $red;
        }
    }

    @media (min-width: 768px) {
        width: 50%;
        float: left;
    }

    @media (min-width: 1200px) {
        .article__img {
            padding-bottom: 55.8%;
        }

        &:not(.article--big) {
            .article__img {
                padding-bottom: 34%;
                margin-right: 15px;
                width: 42%;
                float: left;
            }

            .article__info {
                width: 50%;
                height: 204px;
            }
        }
    }
}

.article__date {
    margin-bottom: 15px;
}

.article__img {
    margin-bottom: 20px;
    padding-bottom: 58%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.article__title {
    margin-bottom: 10px;
    font-family: $bank;
    font-size: 20px;
    text-transform: uppercase;
    word-break: break-word;
}

.article__text {
    margin-bottom: 20px;

    * {
        margin-top: 0 !important;
        margin-bottom: 15px !important;
        padding: 0 !important;
        font-size: 16px !important;
        font-family: $exo !important;
    }
}

.article__more {
    padding-top: 20px;
    background-color: #fff;
    box-shadow: 0 -4px 5px #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    a {
        &:hover {
            color: $red;
        }
    }

    .icon {
        font-size: 14px;
        position: relative;
        bottom: -1px;
    }
}

.article__info {
    height: 165px;
    padding-bottom: 18px;
    overflow: hidden;
    position: relative;
}