.breadcrumbs {
    @include list-reset();
    padding: 20px 15px 0;
    @include clearfix();
}

.breadcrumbs__item {
    float: left;

    &:last-child {
        color: $red;
    }

    &:not(:last-child) {
        &:after {
            content: "\e902";
            font-family: 'icomoon';
            font-size: 12px;
            font-weight: 600;
            margin: 0 5px;
        }
    }

    a {
        &:hover {
            color: $red;
        }
    }
}