.btn {
    padding: 8px 30px;
    background-color: $red;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    position: relative;
    transition: color .3s ease;

    span {
        position: relative;
        z-index: 1;
    }

    &:disabled {
        cursor: not-allowed;
    }

    &:not(:disabled):hover {
        background-color: $gray-3;
    }

    @media (min-width: 992px) {
        padding: 15px 30px;
    }
}

.ua-mobile {
    .btn {
        padding: 15px 30px 10px;
    }
}