.callback {
    padding: 15px 0 30px;
    background-color: #bbbaba;
    text-align: center;
    background-image: 
        url(../img/arr-right-bg.png),
        url(../img/arr-left-bg.png);
    background-position:
        -155% center,
        255% center;
    background-repeat: 
        no-repeat,
        no-repeat;

    @media (min-width: 360px) {
        background-position:
            -95% center,
            195% center;
    }
    @media (min-width: 430px) {
        background-position:
            -53% center,
            153% center;
    }
    @media (min-width: 600px) {
        background-position:
            -25% center,
            125% center;
    }
    @media (min-width: 900px) {
        background-position:
            -7% center,
            107% center;
    }
    @media (min-width: 1200px) {
        background-position:
            left center,
            right center;
    }
}

.callback__text {
    margin: 0 auto 35px;
    padding: 15px;
    font-size: 20px;
    font-family: $bank;
    text-transform: uppercase;
    line-height: 1.3;
    position: relative;

    &:after {
        content: '';
        display: block;
        height: 15px;
        background-image: radial-gradient(ellipse farthest-side at top, #7b7b7b, #bbbaba);
        position: absolute;
        top: 100%;
        left: 19%;
        right: 19%;
    }

    @media (min-width: 992px) {
        font-size: 25px;

        &:after {
            height: 35px;
        }
    }
}  

.callback__phone {
    font-size: 30px;
    font-weight: 600;
    color: $red;
    position: relative;

    .icon {
        font-weight: 600;
        position: relative;
        bottom: -3px;
    }

    a {
        &:hover {
            color: $gray-3;
        }
    }

    @media (min-width: 650px) {
        font-size: 40px;
    }
}