.cart {
    margin: 0 auto;
    width: 100%;
    max-width: 970px;
    border-collapse: collapse;

    tr {
        & > td:not(:first-child):not(:last-child) {
            background-color: #efefef;
        }
    }

    td {
        padding: 10px;

        &:not(:last-child) {
            border: 1px solid $black;
        }
    }

    @media (min-width: 768px) {
        font-size: 20px;
    }
}

.cart__item--no-price {
    .cart__item-name {
        border-right: none !important;
    }
    .cart__item-price {
        border-left: none !important;
    }
}

.cart__item-img {
    display: none;
    padding: 5px !important;
    width: 50px;
    text-align: center;

    img {
        max-width: 100%;
        max-height: 60px;
    }

    @media (min-width: 500px) {
        display: table-cell;
    }

    @media (min-width: 768px) {
        padding: 10px !important;
        width: 100px;
    }
}

.cart__item-price {
    text-align: center;
}

.cart__item-amount {
    width: 70px;
    text-align: center;

    @media (min-width: 768px) {
        width: 90px;
    }    
}

.cart__item-amount-control {
    position: relative;
}

.cart__item-amount-control-minus,
.cart__item-amount-control-plus {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    .icon {
        font-size: 14px;
        font-weight: bold;
    }

    &:hover {
        color: $red;
    }
}

.cart__item-amount-control-minus {
    padding: 15px 0 15px 10px;
    left: -10px;
}

.cart__item-amount-control-plus {
    padding: 15px 10px 15px 0;
    right: -10px;
}

.cart__item-amount-control-number {
    text-align: center;
}

.cart__item-remove {
    width: 35px;
    text-align: center;

    @media (min-width: 768px) {
        width: 40px;
    }
}

.cart__caption {
    td {
        padding-top:20px;
        padding-left:0;
        border: 1px solid #fff;
        font-size: 14px;
    }
}