.catalog-search {
    padding: 70px 15px;

    @media (min-width: 768px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    @media (min-width: 768px) {
        padding-top: 140px;
        padding-bottom: 140px;
    }
}