.certificate {
    margin-bottom: 20px;
    padding: 0 15px;
    text-align: center;

    img {
        max-width: 100%;
        max-height: 250px;
    }

    @media (min-width: 430px) {
        width: 50%;
    }

    @media (min-width: 768px) {
        width: 33.3333333%;
    }

    @media (min-width: 992px) {
        width: 25%;
    }

    @media (min-width: 1200px) {
        width: 20%;
    }
}

.certificate__inner {
    padding: 3px;
    display: inline-block;
    box-shadow: 0 0 8px #b7b7b7;
}