.certificates-widget {
    margin-bottom: 30px;
    text-align: center;

    @media (min-width: 768px) {
        width: 175px;
        margin-left: 30px;
        float: right;
    }
}

.certificates-widget__slider {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.certificates-widget__slider--before-init {
    height: 220px;
    overflow: hidden;
    opacity: 0;
}

.certificates-widget__title {
    margin-bottom: 15px;
    font-weight: bold;
}

.certificates-widget__item {
    img {
        max-width: 100%;
        max-height: 220px;
    }
}

.certificates-widget__img-wrap {
    display: inline-block;
    border: 3px solid #f0f0f0;

    &:hover {
        border-color: $gray-4;
    }
}