.control {
    padding-left: 25px;
    display: block;
    font-size: 14px;
    position: relative;

    a {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    input {
        width: 15px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;

        &:focus {
            & + .control__indicator {
                background-color: $gray-4;
            }
        }
    }

    &:hover {
        .control__indicator {
            background-color: transparent;
        }
    }
}

.control--fullwidth {
    width: 100% !important;
}

.control--checkbox {
    .control__indicator {
        display: block;
        width: 15px;
        height: 15px;
        border: 1px solid $black;
        cursor: pointer;
        // transition: all 300ms ease;
        position: absolute;
        top: 2px;
        left: 0;
        z-index: 1;
        overflow: hidden;

        // &:before {
        //     content: '✓';
        //     position: absolute;
        //     top: -15px;
        //     left: 1px;
        //     transition: all 300ms ease;
        // }
    }

    input:checked + .control__indicator {
        background-color: $black;

        // &:before {
        //     top: -1px;
        //     color: $gray-4;
        // }
    }
}

.control--radio {
    .control__indicator {
        display: block;
        width: 15px;
        height: 15px;
        border: 1px solid $black;
        border-radius: 50%;
        cursor: pointer;
        transition: all 300ms ease;
        position: absolute;
        top: 1px;
        left: 0;
        z-index: 1;
        overflow: hidden;

        &:before {
            content: '';
            display: block;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: $gray-4;
            background-color: $black;
            transform: scale(0);
            position: absolute;
            top: 3px;
            left: 3px;
            transition: transform 300ms ease;
        }
    }

    input:checked + .control__indicator {
        &:before {
            transform: scale(1);
        }
    }
}