.contacts-info {
    margin: 0 auto;
    padding: 30px 15px;

    @media (min-width: 768px) {
        width: 750px;
    }

    @media (min-width: 992px) {
        width: 946px;
    }
}

.contacts-info__item {
    margin-bottom: 15px;
    padding: 0 15px;

    @media (min-width: 768px) {
        margin-bottom: 0;
        width: 33.33333333%;
        float: left;
    }
}

.contacts-info__title {
    font-family: $bank;
    font-size: 25px;
}

.contacts-info__content {
    font-size: 20px;
}