.empty-cart {
    display: none;
    margin: 0 auto;
    max-width: 970px;

    a {
        color: $red;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}