.filter {
    background-color: #efefef;
    box-shadow: inset 0 0 0 1px #959595;
}

.filter--extra {
    width: 100%;

    @media (min-width: 768px) {
        width: 50%;

        &:nth-child(2n) {
            border-left: 1px solid #fff;
        }
    }
}

.filter--half {
    width: 100%;

    @media (min-width: 768px) {
        width: 50%;
        float: left;

        &:nth-child(2n) {
            border-left: 1px solid #fff;
            float: right;
        }
    }
}

.filter--6-cols {
    .filter__item {
        @media (min-width: 500px) {
            width: 33.33333333%;
        }

        @media (min-width: 700px) {
            width: 25%;
        }

        @media (min-width: 900px) {
            width: 20%;
        }

        @media (min-width: 1200px) {
            width: 16.66666667%;
        }
    }
}

.filter--5-cols {
    .filter__item {
        @media (min-width: 500px) {
            width: 33.33333333%;
        }

        @media (min-width: 700px) {
            width: 25%;
        }

        @media (min-width: 900px) {
            width: 20%;
        }
    }
}

.filter--4-cols {
    .filter__item {
        @media (min-width: 700px) {
            width: 25%;
        }
    }
}

.filter--6-cols {
    .filter__item {
        @media (min-width: 500px) {
            width: 33.33333333%;
        }

        @media (min-width: 700px) {
            width: 25%;
        }

        @media (min-width: 900px) {
            width: 20%;
        }

        @media (min-width: 1200px) {
            width: 16.66666667%;
        }
    }
}

.filter--3-cols {
    .filter__item {
        width: 100%;

        @media (min-width: 768px) {
            width: 33.33333333%;
        }
    }
}

.filter__title {
    padding: 4px;
    padding-left: 10px;
    background-color: #6f6f6f;
    font-size: 20px;
    font-family: $bank;
    color: #fff;
}

.filter__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-shadow: inset 0 0 0 1px #959595;
    text-align: center;
    color: $black;
}

.filter__item {
    width: 50%;

    input {
        display: none;
    }

    input:checked + .filter__item-label {
        background-color: $red;
        color: #fff;
    }
}

.filter__item-label {
    display: block;
    padding: 5px 2px;
    border-bottom: 1px solid #959595;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;

    &:hover {
        background-color: $red;
        color: #fff;
    }
}

.filter__item-label--active {
    background-color: $red;
    color: #fff;
}