.filters-toggle-wrap {
    @media (min-width: 992px) {
        margin-right: -15px;
    }
}
.filters-toggle {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $black;
    font-family: inherit;
    text-align: center;
    color: #fff;
    position: relative;

    &:hover {
        background-color: $red;
    }

    .icon-next-double {
        display: inline-block;
        margin-left: 5px;
        transform: rotate(90deg);
        font-size: 12px;
    }

    @media (min-width: 992px) {
        margin-right: -15px;
    }
}

.filters-toggle--active {
    + .filters-form {
        display: block;
    }

    .filters-toggle__opened-text {
        display: inline;
    }

    .filters-toggle__closed-text {
        display: none;
    }

    .icon {
        transform: rotate(-90deg);
    }
}

.filters-toggle__selected {
    
}

.filters-toggle__name {
    font-family: $bank;
    text-transform: uppercase;
    font-size: 20px;
}

.filters-toggle__opened-text {
    display: none;
}
