.filters-form {
    display: none;
    box-shadow: inset 0 0 0 1px #959595;
    @include clearfix();

    @media (min-width: 992px) {
        margin-right: -15px;
    }
}

.filters-form__btns {
    width: 100%;
    border: 1px solid #959595;
    border-top: none;
    border-bottom: none;
    font-size: 0;
    clear: both;

    button[type="reset"],
    a {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: $black;
        color: #fff;
        font-family: $exo;
        font-size: 16px;
        text-align: center;

        &:hover {
            background-color: $red;
        }
    }
}