.form-section {
    padding: 35px 0 100px;
    background-color: #fff;
}

.form-section--img-bg {
    background-image: url(../img/form-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .form {
        input,
        textarea {
            background-color: transparent;
            border: 1px solid #fff;
            color: #fff;
            @include placeholder(#fff);
        }
    }

    .form__field-alert {
        border: 1px solid #fff;
        color: #fff;
    }

    .control {
        color: #fff;
    }

    .control--checkbox {
        .control__indicator {
            border: 1px solid #fff; 
        }
        
        input:checked + .control__indicator {
            background-color: $red;
        }
    }
}