.form {
    margin: 0 auto;
    color: $black;
    @include clearfix();

    input, 
    textarea {
        padding: 15px;
        border: 1px solid $black;
        @include placeholder($black);
    }

    textarea {
        height: 100%;
        min-height: 140px;
    }

    @media (min-width: 768px) {
        width: 750px;
    }
}

.form--10-columns {
    @media (min-width: 992px) {
        width: 946px;
    }
}

.form__field-wrap {
    height: 100%;
    padding: 0 15px;
    margin-bottom: 20px;
    position: relative;

    @media (min-width: 500px) {
        &:not(.form__field-wrap--fullwidth) {
            width: 50%;
            float: left;
        }
    }
}

.form__field-wrap--fullwidth {
    clear: both;
}

.form__field-alert {
    margin-right: 15px;
    padding: 1px;
    border: 1px solid $black;
    font-size: 12px;
    position: absolute;
    left: 15px;
    bottom: calc(100% - 1px);
}

.form__file-field {
    overflow: hidden;
    display: block;
    padding: 15px;
    border: 1px solid $black;
    position: relative;

    &:after {
        padding-left: 10px;
        padding-right: 11px;
        background-color: #fff;
        content: "\e906";
        font-family: 'icomoon' !important;
        color: $red;
        font-size: 24px;
        position: absolute;
        top: 11px;
        right: 0;
        z-index: 2;
    }

    &:hover {
        &:after {
            color: $gray-3;
        }
    }

    input {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
    }
}

.form__submit {
    padding: 0 15px;
    @include clearfix();

    @media (min-width: 768px) {
        .control {
            width: calc(100% - 210px);
            float: left;
        }

        .btn {
            float: right;
        }
    }

    @media (max-width: 767px) {
        .btn {
            margin: 20px auto 0;
            display: block;
        }
    }
}