.hero {
    padding: 10% 15px 62px;
    background-image: url(../img/tire-bg.jpg);
    background-position: top center;
    background-size: cover;

    @media (min-width: 992px) {
        padding-top: 130px;
    }
}

.hero__content {
    width: 100%;
    max-width: 882px;
    margin: 0 auto 12%;
    padding: 35px 25px;
    background-color: rgba($black, 0.73);
    color: #fff;
    text-align: center;

    @media (min-width: 992px) {
        margin-bottom: 210px;
    }
}

.hero__content-title {
    margin: 0;
    padding-bottom: 60px;
    font-weight: normal;
    font-size: 25px;
    font-family: $bank;
    color: $red;
    position: relative;

    &:after {
        content: '';
        display: block;
        margin: 0 auto;
        width: 138px;
        height: 3px;
        background-color: $red;
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
    }
}

.hero__content-text {
    margin: 0 auto;
    max-width: 630px;
    font-size: 18px;
    line-height: 1.6;
}