.img-figures {
    @include clearfix();
}

.img-figures__item {
    height: 230px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &:hover {
        .img-figures__item-caption:before {
            width: 100%;
        }
    }

    @media (min-width: 768px) {
        width: 33.3333333%;
        float: left;
    }

    @media (min-width: 992px) {
        height: 335px;
    }
}

.img-figures__item-caption {
    padding: 25px;
    font-size: 25px;
    font-family: $bank;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba($black, 0.73);

    &:before {
        content: '';
        display: block;
        width: 0;
        background-color: red;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 0;
        transition: width .3s ease;
    }

    span {
        position: relative;
        z-index: 1;
    }
}

.img-figures__item-caption--small {
    font-size: 16px;
    font-family: $exo;
    text-transform: none;
}

.img-figures__col {
    margin-bottom: 30px;
    padding: 0 15px;

    @media (min-width: 768px) {
        width: 33.3333333%;
        float: left;
    }

    .img-figures__item {
        width: 100% !important;
        float: none !important;

        @media (min-width: 992px) {
            height: 275px;
        }
    }
}