.location {
    margin: 0 auto;
    padding-top: 50px;

    @include clearfix();

    @media (min-width: 992px) {
        max-width: 946px;
    }
}

.location__caption {
    margin-bottom: 15px;

    @media (min-width: 768px) {
        margin-bottom: 20px;
    }
}

.location__item {
    padding: 0 15px;
    width: 50%;
    font-size: 20px;
    text-align: center;
    float: left;

    @media (max-width: 767px) {
        width: 100%;
        float: none;

        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}

.location__img {
    max-width: 100%;
}