.logo-slider {
  display: none;
  padding: 50px 0;
  background-color: $black;

  .slick-track {
    display: flex;
    align-items: center;
  }

  @media (min-width: 768px) {
    display: block;
  }
}

.logo-slider__title {
  margin: 0 0 50px;
  font-size: 25px;
  font-family: $bank;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  color: $white;
}

.logo-slider__slides-wrapper {
  position: relative;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.logo-slider__slides-wrapper--before-init {
  opacity: 0;
  height: 90px;
}

.logo-slider__slides {
  position: relative;
}

.logo-slider__slide {
  padding: 0 24px;

  .logo-slider__img {
    margin: 0 auto;
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 90px;
  }
}

.logo-slider__arrow-icon {
  display: block;
  width: 35px;
  height: 35px;
  fill: $white;
}

.logo-slider__prev,
.logo-slider__next {
  display: none !important;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);

  &:hover {
    .logo-slider__arrow-icon {
      fill: $red;
    }
  }

  @media (min-width: 1270px) {
    display: block !important;
  }
}

.logo-slider__prev {
  left: -52px;
}

.logo-slider__next {
  right: -52px;

  .logo-slider__arrow-icon {
    transform: rotate(180deg);
  }
}
