.news {
    padding: 15px 0;
    
    @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

.news__item {
    padding: 0 15px;
    margin-bottom: 15px;
    @include clearfix();

    &:hover {
        .news__item-content-title {
            color: $red;
        }
    }

    @media (min-width: 768px) {
        width: 33.333%;
    }
}

.news__item-date {
    margin-bottom: 5px;
    color: #8b8b8b;
}

.news__item-img {
    margin-right: 15px;
    width: 80px;
    float: left;

    img {
        width: 100%;
    }

    @media (min-width: 768px) {
        width: 120px;
    }
}

.news__item-content {
    padding-left: 95px;

    @media (min-width: 768px) {
        padding-left: 135px;
    }
}

.news__item-content-title {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 1;
    font-family: $bank;
    word-break: break-word;
}

.news__item-content-text {
    * {
        margin-top: 0 !important;
        margin-bottom: 15px !important;
        padding: 0 !important;
        font-size: 16px !important;
        font-family: $exo !important;
    }
}