.notification {
    padding: 15px;
    margin-left: 15px;
    max-width: 500px;
    background-color: #fff;
    border: 2px solid $red;
    position: fixed;
    top: 15px;
    right: -100%;
    z-index: 1005;
    transition: right 500ms ease;
    cursor: pointer;
}

.notification--show {
    right: 15px;
}