.page-overlay {
    padding: 15px 15px;
    background-color: rgba($black, 0.73);
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.3s ease,
        visibility 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    @media (min-width: 768px) {
        padding: 50px 15px;
    }
}

.page-overlay--show {
    opacity: 1;
    visibility: visible;
}