.page-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 15px;
    height: 100vh;
    background-color: $black;
    text-align: center;
    color: $gray-4;
}

.page-404__title {
    margin-bottom: 40px;
    font-size: 30px;

    @media (min-width: 768px) {
        margin-bottom: 60px;
        font-size: 40px;
    }
}

.page-404__img {
    margin-bottom: 40px;
    flex: 0 0 auto;

    img {
        max-width: 100%;
    }

    @media (min-width: 768px) {
        margin-bottom: 60px;
    }
}

.page-404__to-index {
    a {
        padding: 15px 15px 19px;
        display: inline-block;
        background-color: $red;
        position: relative;

        &:hover {
            text-decoration: underline;
        }

        @media (min-width: 768px) {
            margin-right: -126px;

            &:before {
                content: '';
                display: block;
                width: 128px;
                background-image: url(../img/left-red.png);
                background-position: left;
                position: absolute;
                top: 0;
                bottom: 0;
                left: -126px;
            }
        }
    }
}