.paginator {
    @include clearfix();
    padding: 10px 0px 30px;
    text-align: center;
    font-size: 16px;
}

.paginator__prev,
.paginator__next {
    vertical-align: middle;
}

.paginator__prev,
.paginator__next,
.paginator__link {
    padding: 6px 0;
    width: 34px;
    display: inline-block;

    &:hover {
        color: $red;
    }
}

.paginator__link {
    &.active {
        border: 1px solid $gray-4;
    }
}