.popup {
    padding-top: 35px;
    margin: 0 auto;
    max-width: 1005px;
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;

    @media (min-width: 768px) {
        top: 50px;
        bottom: 50px;
    }
}

.popup__close {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: -5px;
    right: 0;
    transform-origin: right bottom;
    transition: transform 0.5s ease;

    &:hover {
        color: $red;
    }

    @media (min-width: 768px) {
        font-size: 35px;
    }

    @media (min-width: 1200px) {
        transform: rotate(90deg);
    }
}

.popup__content {
    overflow-y: auto;
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    bottom: 0px;
}