.product-description {
    margin-top: 20px;
    @include clearfix();
}

.product-description__item {
    margin-bottom: 20px;

    @media (min-width: 768px) {
        width: 33.3333333%;
        float: left;
    }
}

.product-description__title {
    margin-bottom: 6px;
    font-size: 20px;
    font-weight: bold;
}

.product-description__list {
    @include list-reset();

    li {
        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }
}

.product-description__text {
    clear: both;
}