.product-add {
    display: flex;
    justify-content: space-between;
}

.product-add__price {
    margin-right: 5px;
    padding: 15px;
    width: calc(100% - 75px);
    display: flex;
    align-items: center;
    background-color: $black;
    color: #fff;
    font-size: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-add__no-price {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-add__control {
    width: 70px;
    flex: 0 0 auto;
}

.product-add__submit {
    padding: 5px 4px 4px;
    display: block;
    width: 100%;
    background-color: $red;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 0;

    .icon {
        font-size: 28px;
    }

    &:hover {
        color: $black;
    }
}

.product-add__amount {
    padding: 2px 0;
    background-color: $red;
    text-align: center;
    color: #fff;
    position: relative;
}

.product-add__amount-value {
    display: block;
    cursor: text;
}

.product-add__amount-minus,
.product-add__amount-plus {
    padding-top: 3px;
    width: 35%;
    position: absolute;
    top: 0;
    bottom: 0;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    &:hover {
        color: $black;
    }
}
.product-add__amount-minus {
    left: 0;   
}
.product-add__amount-plus {
    right: 0;
}