.product-info {
    margin-bottom: 10px;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #bcbec0;
    font-size: 16px;

    td {
        padding: 10px;
        border: 1px solid #bcbec0;
        background-color: #efefef;
        line-height: 1.4;
    }

    @media (min-width: 768px) {
        font-size: 20px;
    }
}

.product-info__in-stock {
    color: $red;

    td {
        background-color: #fff;
    }
}