.product-img {
    padding: 5px;
    display: flex;
    flex: 1 0 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid #bcbec0;
    border-bottom: none;

    img {
        max-width: 100%;
        max-height: 325px;
    }

    @media (min-width: 768px) {
        border-bottom: 1px solid #bcbec0;
    }
}