.product-card {
    padding-bottom: 125px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 auto;
    border: 1px solid #bcbec0;
    position: relative;
    transition: border-color 0.3s ease;

    &:hover {
        border-color: #e0e0e0;

        .product-card__hover {
            opacity: 1;
        }
    }
}

.product-card--border-left-none {
    border-left: none;

    &:hover {
        box-shadow: -1px 0 #e0e0e0;
    }
}

.product-card__hover {
    box-shadow: inset 0 0 40px 0px #cecece;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s ease;
}

.product-card__img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    min-height: 264px;
    text-align: center;

    img {
        width: 100%;
        max-width: 236px;
    }
}

.product-card__name {
    padding: 0 12px;
    word-wrap: break-word;
    position: absolute;
    bottom: 70px;
    z-index: 2;
}

.product-card__bottom {
    padding: 12px;
    display: flex;
    font-weight: 400;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.product-card__price {
    margin-right: 7px;
    padding: 12px;
    min-height: 47px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    background-color: $gray-2;
    color: #fff;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-card__no-price {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-card__add {
    padding: 0 25px;
    background-color: $red;
    border: none;
    font-size: 0;
    color: #fff;

    .icon {
        font-size: 28px;
    }

    &:hover {
        background-color: $gray-3;
    }
}