.products {
    margin-bottom: 30px;
    clear: both;
}

.products__title {
    margin-bottom: 15px;
    font-family: $bank;
    color: $red;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
}

.products__row {
    margin-left: -15px;
    margin-right: -15px;

    @media (min-width: 768px) {
        margin-bottom: -30px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

.products__col {
    margin-bottom: 30px;
    padding: 0 15px;

    @media (min-width: 768px) {
        display: flex;
        width: 33.333333%;
    }
}

.products__more {
    margin: 30px auto;
    text-align: center;

    .icon {
        vertical-align: middle;
        margin-left: 5px;
        font-size: 12px;
    }

    &:hover {
        color: $red;
    }
}

.products__slider {
    opacity: 1;
    transition: opacity 0.3s ease;
    box-shadow: inset 1px 0 0 0 #bcbec0;

    .product-card__add {
        padding: 0 17px;
    }

    .product-card__price {
        padding: 9px;
        font-size: 16px;
    }
}

.products__slider--full-border {
    box-shadow: inset 0 0 0 1px #bcbec0;
}

.products__slider--before-init {
    opacity: 0;
    height: 390px;
    overflow: hidden;
}