.product-slider {
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
    opacity: 1;
    transition: opacity .3s ease;

    .slick-prev {
        left: 15px;
    }
    .slick-next {
        right: 15px;
    }

    @media (min-width: 768px) {
        display: flex;

        .slick-list {
            display: flex;
        }

        .slick-track {
            display: flex;
        }
    }
}

.product-slider--before-init {
    opacity: 0;
    height: 300px;
}

.product-slider__slide {
    padding: 0 15px;
    display: flex !important;
    flex: 0 0 auto;
    text-align: center;

    img {
        margin: auto;
        max-width: 100%;
        max-height: 325px;
        flex: 0 0 auto;
    }
}

.product-slider__slide-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    width: 100%;
    border: 1px solid #bcbac1;

    @media (max-width: 767px) {
        border-bottom: none;
    }
}