.product-popup__title {
    padding: 15px;
    font-size: 16px;
    background-color: #bbb9ba;
    position: relative;

    @media (min-width: 768px) {
        padding: 20px;
        font-size: 25px;
    }
}

.product-popup__body {
    padding: 15px;
    background-color: #fff;

    @media (min-width: 768px) {
        padding: 20px;
    }
}

.product-popup__main {
    margin-bottom: 20px;

    @media (min-width: 768px) {
        display: flex;
    }
}

.product-popup__left {
    width: 100%;
    display: flex;
    flex: 1 0 auto;
    
    @media (min-width: 768px) {
        max-width: 330px;
        margin-right: 20px;
    }
}

.product-popup__right {
    width: 100%;

    .product-info {
        margin-bottom: 15px;
        
        td {
            padding: 10px;
        }
    }

    .product-info__in-stock {
        td {
            padding: 10px;
        }
    }

    @media (min-width: 768px) {
        .product-info {            
            td {
                padding: 20px;
            }
        }
    }
}

.product-popup__add {
    display: flex;
    font-size: 20px;
    color: #fff;

    @media (max-width: 439px) {
        flex-wrap: wrap;
    }

    @media (min-width: 768px) {
        font-size: 25px;
    }
}

.product-popup__price {
    margin-right: 5px;
    padding: 10px;
    flex: 1 0 auto;
    background-color: $black;

    @media (max-width: 439px) {
        margin-right: 0;
        margin-bottom: 5px;
        width: 100%;
    }

    @media (min-width: 768px) {
        padding: 15px;
    }
}

.product-popup__amount {
    padding: 10px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    background-color: $red;
    font-size: 20px;
    position: relative;

    @media (max-width: 439px) {
        flex: 1 0 auto;
    }

    @media (min-width: 768px) {
        padding: 15px;
    }
}

.product-popup__amount-total {
    width: 55px;
    text-align: center;
    cursor: text;
}

.product-popup__amount-minus,
.product-popup__amount-plus {
    padding: 10px;
    font-size: 0;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    .icon {
        font-size: 14px;
        font-weight: bold;
    }
    
    &:hover {
        color: $black;
    }
}
.product-popup__amount-minus{
    left: 0;
}
.product-popup__amount-plus {
    right: 0;
}

.product-popup__amount-submit {
    padding: 6px 20px 0;
    flex: 0 0 auto;
    background-color: $red;
    color: #fff;
    font-size: 26px;

    &:hover {
        background-color: $gray-3;
    }

    @media (min-width: 768px) {
        font-size: 30px;
    }
}

.product-popup__description {
    margin-top: 20px;
    @include clearfix();
}

.product-popup__description-item {
    @media (min-width: 768px) {
        width: 33.3333333%;
        float: left;
    }
}

.product-popup__description-title {
    margin-bottom: 6px;
    font-size: 20px;
    font-weight: bold;
}

.product-popup__description-list {
    @include list-reset();

    li {
        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }
}