.product {
    margin-left: -15px;
    margin-right: -15px;

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
}

.product__left {
    padding: 0 15px;

    @media (min-width: 768px) {
        width: 38%;
    }
}

.product__right {
    padding: 0 15px;
    display: flex;

    @media (min-width: 768px) {
        width: 62%;
    }
}