.promo {
    padding: 65px 0;
    background-color: #fff;
    background-image: url(../img/promo-bg.png);
    background-position: left center;
    background-repeat: no-repeat;

    @media (min-width: 768px) {
        padding-left: 30%;
    }
}

.promo__text {
    padding: 0 15px;
}

.promo__items {
    @media (min-width: 992px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.promo__item {
    padding: 0 15px;
    margin-bottom: 40px;

    @media (min-width: 992px) {
        width: 50%;
    }
}

.promo__item-title {
    color: $red;
    font-size: 25px;
    font-family: $bank;
}