.requisites {
    margin: 0 auto;
    padding: 0 15px 30px;
    font-size: 16px;

    @media (min-width: 768px) {
        width: 750px;
    }

    @media (min-width: 992px) {
        width: 946px;
    }
}

.requisites__item {
    margin-bottom: 6px;
    padding: 0 15px;

    ul {
        @include list-reset();
    }

    li {
        &:not(:last-child) {
            margin-bottom: 6px;
        }
    }

    @media (min-width: 768px) {
        width: 33.33333333%;
        float: left;
    }
}