.search-hint {
    max-height: 242px;
    border: 1px solid #000;
    background-color: #fff;
    color: $black;
    overflow-y: auto;
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    right: 0;
    z-index: 2;
}

.search-hint__list {
    @include list-reset();
}

.search-hint__item {
    padding: 5px 12px;
    text-align: left;
    cursor: pointer;

    &:hover {
        background-color: $gray-4;
    }

    &:last-of-type {
        padding-bottom: 6px;
    }
}
.search-hint__item--selected {
    background-color: $gray-4;
}

.search-hint__highlight {
    color: $red;
}