.search-page {
    padding: 100px 15px;
    flex: 1 0 auto;
    background-color: $black;
    background-image: url(../img/search-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: $gray-4;

    @media (min-width: 768px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    @media (min-width: 992px) {
        padding-top: 350px;
        padding-bottom: 350px;
    }
}