.search-results {
    padding: 0 15px;
}

.search-results__title {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 20px;
    color: $red;
    font-family: $bank;
    text-transform: uppercase;
}

.search-results__row {
    margin-left: -15px;
    margin-right: -15px;

    @media (min-width: 500px) {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

.search-results__col {
    margin-bottom: 30px;
    padding: 0 15px;

    @media (min-width: 500px) {
        width: 50%;
        display: flex;
    }

    @media (min-width: 768px) {
        width: 33.3333333%;
    }

    @media (min-width: 992px) {
        width: 25%;
    }
}