.search {
    margin: 0 auto;
    width: 100%;
    max-width: 750px;
}

.search__title {
    padding: 0 15px;
    margin-bottom: 15px;
    font-size: 25px;
    font-family: $bank;
    color: $red;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: 992px) {
        margin-bottom: 30px;
        font-size: 35px;
    }
}

.search__form {
    padding: 0 15px;
    @media (max-width: 599px) {
        .btn {
            display: block;
            margin: 15px auto 0;
        }
    }
    @media (min-width: 600px) {
        display: flex;
    }
}

.search__input-wrap {
    font-size: 18px;
    position: relative;

    input {
        padding: 10px;
        padding-left: 45px;
        width: 100%;
        border: 1px solid $black;

        @include placeholder($gray-3);
    }

    &:before {
        content: '\e905';
        font-family: 'icomoon';
        color: $red;
        position: absolute;
        left: 10px;
        top: 8px;
        font-size: 24px;
    }

    @media (min-width: 600px) {
        flex-grow: 1;
        margin-right: 15px;
    }

    @media (min-width: 992px) {
        input {
            padding: 20px;
            padding-left: 55px;
        }

        &:before {
            left: 18px;
            top: 18px;
            font-size: 24px;
        }
    }
}