.side-catalog {
    font-size: 20px;

    &:not(:last-of-type) {
        margin-bottom: 60px;
    }

    a {
        &:hover {
            color: $red;
        }
    }
}

.side-catalog--top-offset {
    @media (min-width:992px) {
        margin-top: 38px;
    }
}

.side-catalog__title {
    padding: 8px 0 0 15px;
    height: 37px;
    background-color: $gray-2;
    font-family: $bank;
    color: #fff;
    text-transform: uppercase;
    position: relative;

    @media (min-width: 992px) {
        &:after {
            content: '';
            display: block;
            height: 37px;
            width: 55px;
            background-color: #fff;
            background-image: url(../img/title-decor.png);
            background-position: right;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}
.ua-mobile {
    .side-catalog__title {
        padding-top: 10px;
    }
}

.side-catalog__list {
    @include list-reset();
    padding-left: 15px;
}

.side-catalog__list-item {
    margin-top: 20px;
    font-family: $bank;
    text-transform: uppercase;
    word-break: break-word;
    word-wrap: break-word;

    & > a.active {
        color: $red;
    }
}

.side-catalog__sublist {
    @include list-reset();
}

.side-catalog__sublist-item {
    margin-top: 5px;
    font-family: $exo;
    font-size: 16px;
    text-transform: none;

    &.active {
        color: $red;
    }
}