.sidebar {
    padding-bottom: 30px;
    background-color: #fff;
    transition: transform .3s ease;

    @media (max-width: 991px) {
        border: 2px solid $black;
        overflow-y: auto;
        position: fixed;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        z-index: 50;
        transform: translateX(-105%);
    }

    @media (min-width: 992px) {
        padding-right: 15px;
        float: left;
        width: 25%;
    }
}
.sidebar--open {
    transform: translateX(0) !important;

    @media (min-width: 992px) {
        transform: none !important;
    }
}

.sidebar__close {
    padding: 5px 10px 5px 20px;
    font-size: 25px;
    line-height: 1;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    &:hover {
        color: $red;
    }

    @media (min-width: 992px) {
        display: none;
    }
}