.sitemap {
    ul {
        @include list-reset();
        margin: 8px 0;

        &:not(:first-child) {
            padding-left: 20px;
        }
    }

    li {
        margin: 8px 0;
    }

    a {
        &:hover {
            color: $red;
        }
    }

    > ul > li > a {
        display: inline-block;
        font-family: $bank;
        font-size: 20px;
        position: relative;

        &:after {
            content: '';
            display: block;
            height: 1px;
            background-color: $black;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 4px;
        }
    }

    
    @media (min-width: 768px) {
        padding-left: 45px;

        > ul > li > ul > li > ul {
            column-count: 3;
        }
    }
}