.testimonial {
    margin-bottom: 30px;
}

.testimonial--empty {
    text-align: center;

    @media (min-width: 768px) {
        font-size: 20px;
    }
}

.testimonial__date {
    display: block;
    padding: 0 15px 8px;
    color: #bcbec0;
}

.testimonial__body {
    padding: 11px 15px;
    border: 1px solid #bcbec0;
}

.testimonial__author {
    font-family: $bank;
    font-size: 20px;
    line-height: 1;
}

.testimonial__text {
    line-height: 1.45;
}