.testimonials-control {
    text-align: center;
    position: relative;
    @include clearfix();

    @media (min-width: 768px) {
        .btn {
            float: right;
        }
    }
}

.testimonials-control__more {
    margin-bottom: 20px;
    cursor: pointer;

    &:hover {
        color: $red;
    }

    @media (min-width: 768px) {
        margin-bottom: 0;
        position: absolute;
        top: 16px;
        left: 50%;
        transform: translateX(-50%);
    }

    .icon-next-double {
        margin-left: 5px;
        display: inline-block;
        transform: rotate(90deg);
        font-size: 14px;
    }
}

.testimonials-control__more--active {
    .icon-next-double {
        transform: rotate(-90deg);
    }
}