.testimonial-popup {
    border-top: 1px solid #bcbec0;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateY(100%);
    transition: transform 0.3s ease;

    .close-btn {
        font-size: 28px;
        position: absolute;
        top: 40px;
        right: 15px;
        z-index: 5;
    }

    @media (max-width: 767px) {
        top: 0;
        overflow-y: auto;
    }
}

.testimonial-popup--open {
    transform: translateY(0);
}