.title {
    margin-bottom: 30px;
    padding: 50px 15px 20px;
    font-size: 25px;
    font-family: $bank;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    color: $black;
    position: relative;

    h1, h2, h3 {
        margin: 0;
        font-size: inherit;
        font-weight: inherit;
    }
}

.title--red {
    color: $red;
}

.title--underline {
    &:after {
        content: '';
        display: block;
        height: 3px;
        background-image: linear-gradient(to right, #fff 5%, #c2c2c2 50%, #fff 95%);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10px;
    }
}
  