.vacancy {
    margin: 30px auto;

    &:hover {
        .vacancy__title {
            color: $red;
        }
    }
}

.vacancy__title {
    margin-bottom: 10px;
    font-family: $bank;
    font-size: 20px;

    &:hover {
        color: $red;
    }
}

.vacancy__more {
    margin-top: 10px;
    text-align: right;

    .icon {
        font-size: 12px;
    }

    &:hover {
        color: $red;
    }
}