{% extends "layout/base.html" %} 

{% block title %}Все виды фильтров{% endblock %} 

{% block content %}
<div class="white-container">
    <ul class="breadcrumbs">
        <li class="breadcrumbs__item">
            <a href="/">Главная</a>
        </li>
        <li class="breadcrumbs__item">
            <span>Фильтры</span>
        </li>
    </ul>

    <div class="title title--underline">
        <h1>Фильтры</h1>
    </div>

    <div class="clearfix-after">
        <aside id="sidebar" class="sidebar">
            <div id="close-sidebar" class="sidebar__close">✕</div>
            {% for item in catalog_tires_sidebar %}
            <div class="side-catalog">
                <div class="side-catalog__title">{{ item.title }}</div>
                <ul class="side-catalog__list">
                    {% for category in item.categories %}
                    <li class="side-catalog__list-item">
                        <a href="{{ category.url }}">{{ category.name }}</a>
                        {% if category.subcategories %}
                        <ul class="side-catalog__sublist">
                            {% for subcategory in category.subcategories %}
                            <li class="side-catalog__sublist-item">
                                <a href="{{ subcategory.url }}">{{ subcategory.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </aside>

        <div class="right-content">
            <form action="" class="filters-form">
                <div class="filter filter--6-cols">
                    <div class="filter__title">{{ filter_sizes.title }}</div>
                    <div class="filter__items">
                        {% for item in filter_sizes.items %}
                        <div class="filter__item">
                            <a href="#" class="filter__item-label">{{ item }}</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="filter filter--5-cols">
                    <div class="filter__title">{{ filter_models.title }}</div>
                    <div class="filter__items">
                        {% for item in filter_models.items %}
                        <div class="filter__item">
                            <a href="#" class="filter__item-label">{{ item }}</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="filters-form__extra">
                    <div class="filter filter--extra filter--4-cols">
                        <div class="filter__title">{{ filter_country.title }}</div>
                        <div class="filter__items">
                            {% for item in filter_country.items %}
                            <div class="filter__item">
                                <input id="{{ item }}" name="f_size" type="checkbox" value="">
                                <label for="{{ item }}" class="filter__item-label">{{ item }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="filter filter--extra filter--6-cols">
                        <div class="filter__title">{{ filter_layers.title }}</div>
                        <div class="filter__items">
                            {% for item in filter_layers.items %}
                            <div class="filter__item">
                                <input id="{{ item }}" name="f_size" type="checkbox" value="">
                                <label for="{{ item }}" class="filter__item-label">{{ item }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="filter filter--extra filter--4-cols">
                        <div class="filter__title">{{ filter_load.title }}</div>
                        <div class="filter__items">
                            {% for item in filter_load.items %}
                            <div class="filter__item">
                                <input id="{{ item }}" name="f_size" type="checkbox" value="">
                                <label for="{{ item }}" class="filter__item-label">{{ item }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="filter filter--extra filter--3-cols">
                        <div class="filter__title">{{ filter_speed.title }}</div>
                        <div class="filter__items">
                            {% for item in filter_speed.items %}
                            <div class="filter__item">
                                <input id="{{ item }}" name="f_size" type="checkbox" value="">
                                <label for="{{ item }}" class="filter__item-label">{{ item }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="filter filter--extra filter--3-cols">
                        <div class="filter__title">{{ filter_season.title }}</div>
                        <div class="filter__items">
                            {% for item in filter_season.items %}
                            <div class="filter__item">
                                <input id="{{ item }}" name="f_size" type="checkbox" value="">
                                <label for="{{ item }}" class="filter__item-label">{{ item }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="filter filter--extra">
                        <div class="filter__title">{{ filter_spikes.title }}</div>
                        <div class="filter__items">
                            {% for item in filter_spikes.items %}
                            <div class="filter__item">
                                <input id="{{ item }}" name="f_size" type="checkbox" value="">
                                <label for="{{ item }}" class="filter__item-label">{{ item }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="filters-form__btns">
                        <button type="reset">Сбросить фильтр</button>
                        <button type="submit">Применить фильтр</button>
                    </div>
                </div>
                <div class="filters-form__toggle">
                    <span id="js-filters-toggle" class="filters-form__toggle-btn">
                        <span class="filters-form__toggle-opened">Скрыть доп. фильтры </span>
                        <span class="filters-form__toggle-closed">Открыть доп. фильтры </span>
                        <span class="icon icon-next-double"></span>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>

{% include "includes/product-popup.html" %} {% endblock %} 