<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Demo | Армата</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="favicon/manifest.json">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#2ac394">
    <meta name="msapplication-TileColor" content="#2ac394">
    <meta name="msapplication-TileImage" content="favicon/mstile-150x150.png">
    <meta name="msapplication-config" content="favicon/browserconfig.xml" />
    {% block css %}
    {% endblock %}
    <link rel="stylesheet" href="css/demo-style.css">
    <!-- <link rel="stylesheet" href="css/style.min.css"> -->
</head>
<body>
    <!-- HEADER -->
    <header class="page-header {{ header_class }}">
        <div class="page-header-top">
            <div class="page-header__logo">
                <a href="/"><img src="img/logo.svg" alt="армата"></a>
            </div>
            <a class="page-header-top__link" href=""><span class="icon icon-phone"></span> 8 (4212) 74-88-99</a>
            <a class="page-header-top__link" href="mailto:rus@armata-khv.ru"><span class="icon icon-mail"></span> rus@armata-khv.ru</a>
            <div class="page-header__cart">
                <div class="page-header__cart-inner">
                    <div id="cart-items" class="page-header__cart-quantity"></div>
                    <a href="/cart.html"><span class="icon icon-cart"></span></a>
                </div>
            </div>
        </div>
        <nav class="menu">
            <div class="menu__inner-container">
                <div class="mobile-menu">
                    <button id="open-sidebar" class="sidebar-toggle">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" x="0px" y="0px" viewBox="0 0 341.333 341.333" style="enable-background:new 0 0 341.333 341.333;" xml:space="preserve">
                            <g>
                                <path fill="#ffffff" d="M170.667,85.333c23.573,0,42.667-19.093,42.667-42.667C213.333,19.093,194.24,0,170.667,0S128,19.093,128,42.667
                                    C128,66.24,147.093,85.333,170.667,85.333z"/>
                                <path fill="#ffffff" d="M170.667,128C147.093,128,128,147.093,128,170.667s19.093,42.667,42.667,42.667s42.667-19.093,42.667-42.667
                                    S194.24,128,170.667,128z"/>
                                <path fill="#ffffff" d="M170.667,256C147.093,256,128,275.093,128,298.667c0,23.573,19.093,42.667,42.667,42.667s42.667-19.093,42.667-42.667
                                    C213.333,275.093,194.24,256,170.667,256z"/>
                            </g>
                        </svg>
                    </button>
                    <button class="mobile-menu__toggle" id="menu-toggle">
                        <div class="mobile-menu__toggle-bar"></div>
                        <div class="mobile-menu__toggle-bar"></div>
                        <div class="mobile-menu__toggle-bar"></div>
                    </button>
                </div>
                <ul id="menu-list" class="menu__list">
                    <li id="close-menu" class="menu__list-close">✕</li>
                    <li class="menu__item active">
                        <a href="#"><span>Каталог</span></a>
                    </li>
                    <li class="menu__item">
                        <a href="#"><span>Поиск</span></a>
                    </li>
                    <li class="menu__item">
                        <a href="#"><span>О компании</span></a>
                    </li>
                    <li class="menu__item">
                        <a href="#"><span>Галерея</span></a>
                    </li>
                    <li class="menu__item">
                        <a href="#"><span>Новости</span></a>
                    </li>
                    <li class="menu__item">
                        <a href="#"><span>Контакты</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="demo-info">
        <div class="container">
            Активная ссылка меню:<br>
            Добавить класс <i>active</i> к <i>menu__item</i>
        </div>
    </section>
    <!-- HEADER END -->



    <!-- HEADER 2 END -->
    <header class="page-header {{ header_class }}">
        <div class="page-header-top">
            <div class="page-header__logo">
                <a href="/"><img src="img/logo.svg" alt="армата"></a>
            </div>
            <a class="page-header-top__link" href=""><span class="icon icon-phone"></span> 8 (4212) 74-88-99</a>
            <a class="page-header-top__link" href="mailto:rus@armata-khv.ru"><span class="icon icon-mail"></span> rus@armata-khv.ru</a>
            <div class="page-header__cart">
                <div class="page-header__cart-inner">
                    <div id="cart-items" class="page-header__cart-quantity"></div>
                    <a href="/cart.html"><span class="icon icon-cart"></span></a>
                </div>
            </div>
        </div>
        <nav class="menu">
            <div class="menu__inner-container">
                <div class="mobile-menu">
                    <button id="open-sidebar" class="sidebar-toggle">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" x="0px" y="0px" viewBox="0 0 341.333 341.333" style="enable-background:new 0 0 341.333 341.333;" xml:space="preserve">
                            <g>
                                <path fill="#ffffff" d="M170.667,85.333c23.573,0,42.667-19.093,42.667-42.667C213.333,19.093,194.24,0,170.667,0S128,19.093,128,42.667
                                    C128,66.24,147.093,85.333,170.667,85.333z"/>
                                <path fill="#ffffff" d="M170.667,128C147.093,128,128,147.093,128,170.667s19.093,42.667,42.667,42.667s42.667-19.093,42.667-42.667
                                    S194.24,128,170.667,128z"/>
                                <path fill="#ffffff" d="M170.667,256C147.093,256,128,275.093,128,298.667c0,23.573,19.093,42.667,42.667,42.667s42.667-19.093,42.667-42.667
                                    C213.333,275.093,194.24,256,170.667,256z"/>
                            </g>
                        </svg>
                    </button>
                    <button class="mobile-menu__toggle" id="menu-toggle">
                        <div class="mobile-menu__toggle-bar"></div>
                        <div class="mobile-menu__toggle-bar"></div>
                        <div class="mobile-menu__toggle-bar"></div>
                    </button>
                </div>
                <ul id="menu-list" class="menu__list">
                    <li id="close-menu" class="menu__list-close">✕</li>
                    <li class="menu__item _hover">
                        <a href="#"><span>Каталог</span></a>
                        <div class="submenu">
                            <div class="submenu__col">
                                <div class="submenu__title">ШИНЫ</div>
                                <ul class="submenu__list">
                                    <li class="submenu__list-item active"><a href="#">На легковые автомобили</a></li>
                                    <li class="submenu__list-item"><a href="#">На грузовые автомобили</a></li>
                                    <li class="submenu__list-item"><a href="#">Для сельхозтехники</a></li>
                                    <li class="submenu__list-item"><a href="#">Для спецтехники</a></li>
                                    <li class="submenu__list-item"><a href="#">Для автобусов</a></li>
                                </ul>
                            </div>
                            <div class="submenu__col">
                                <div class="submenu__title">производители шин</div>
                                <ul class="submenu__list submenu__list--columns">
                                    <li class="submenu__list-item"><a href="#">Aeolus</a></li>
                                    <li class="submenu__list-item"><a href="#">Bridgestone</a></li>
                                    <li class="submenu__list-item"><a href="#">Cordiant</a></li>
                                    <li class="submenu__list-item"><a href="#">Kama</a></li>
                                    <li class="submenu__list-item"><a href="#">Marcher</a></li>
                                    <li class="submenu__list-item"><a href="#">Michelin</a></li>
                                    <li class="submenu__list-item"><a href="#">Mitas</a></li>
                                    <li class="submenu__list-item"><a href="#">Tyrex</a></li>
                                    <li class="submenu__list-item"><a href="#">Triangle</a></li>
                                    <li class="submenu__list-item"><a href="#">Омскшина</a></li>
                                </ul>
                            </div>
                            <div class="submenu__col">
                                <div class="submenu__title">цепи</div>
                                <ul class="submenu__list">
                                    <li class="submenu__list-item"><a href="#">Противоскольжения</a></li>
                                    <li class="submenu__list-item"><a href="#">Защитные</a></li>
                                </ul>
                            </div>
                            <div class="submenu__col">
                                <div class="submenu__title">диски</div>
                                <ul class="submenu__list">
                                    <li class="submenu__list-item"><a href="#">Грузовые диски</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="menu__item">
                        <a href="#"><span>Поиск</span></a>
                    </li>
                    <li class="menu__item">
                        <a href="#"><span>О компании</span></a>
                    </li>
                    <li class="menu__item">
                        <a href="#"><span>Галерея</span></a>
                    </li>
                    <li class="menu__item">
                        <a href="#"><span>Новости</span></a>
                    </li>
                    <li class="menu__item">
                        <a href="#"><span>Контакты</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="demo-info" style="padding-top:265px">
        <div class="container">
            Активная ссылка выпадающего меню:<br>
            Добавить класс <i>active</i> к <i>submenu__list-item</i>
        </div>
    </section>
    <!-- HEADER 2 END -->

    <!-- SIDEBAR -->
    <div class="white-container">
        <div class="clearfix-after">
            <aside id="sidebar" class="sidebar">
                <div id="close-sidebar" class="sidebar__close">✕</div>
                <div class="side-catalog side-catalog--top-offset">
                    <div class="side-catalog__title">каталог шин</div>
                    <ul class="side-catalog__list">
                        <li class="side-catalog__list-item">
                            <a class="active" href="#">шины для спецтехники</a>
                            <ul class="side-catalog__sublist">
                                <li class="side-catalog__sublist-item"><a href="#">Для грейдеров</a></li>
                                <li class="side-catalog__sublist-item"><a href="#">Для фронтальных погрузчиков</a></li>
                                <li class="side-catalog__sublist-item"><a href="#">Для вилочных погрузчиков</a></li>
                                <li class="side-catalog__sublist-item active"><a href="#">Для минипогрузчиков</a></li>
                                <li class="side-catalog__sublist-item"><a href="#">Для экскаваторов</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>

    <section class="demo-info">
        <div class="container">
            Активная ссылка заголовка:<br>
            Добавить класс <i>active</i> к <i>side-catalog__list-item a</i><br><br><br>

            Активная ссылка категории:<br>
            Добавить класс <i>active</i> к <i>side-catalog__sublist-item</i>
        </div>
    </section>
    <!-- SIDEBAR end-->

    <!-- FOOTER -->
    <footer class="footer">
        <div class="footer-top">
            <div class="footer-top__container">
                <div class="footer-top__logo">
                    <a href="/"><img src="img/logo.svg" alt="армата"></a>
                </div>
                <ul class="footer-top__contacts">
                    <li><a href="tel:84212748845">8 (4212) 74-88-45   </a></li>
                    <li><a href="mailto:rus@armata-khv.ru">rus@armata-khv.ru</a></li>
                    <li>г.&nbsp;Хабаровск,  ул.&nbsp;Сибирская, дом 6</li>
                </ul>
                <form action="" class="footer-top__search">
                    <div class="footer-top__search-inner">
                        <input type="text" placeholder="Введите наименование или артикул...">
                        <button class="btn"><span>найти</span></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom__lists">
                <div class="footer-bottom__list-container">
                    <div class="footer-bottom__list-title">меню</div>
                    <ul class="footer-bottom__list">
                        <li><a href="#">Каталог</a></li>
                        <li class="active"><a href="#">О компании</a></li>
                        <li><a href="#">Вакансии</a></li>
                        <li><a href="#">Галерея</a></li>
                        <li><a href="#">Новости</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom__vbo">
                <a href="http://vbo27.ru">
                    <span class="icon icon-vbo"></span>
                    <span class="footer-bottom__vbo-caption">разработка сайта</span>
                </a>
            </div>
        </div>
    </footer>

    <section class="demo-info">
        <div class="container">
            Активная ссылка:<br>
            Добавить класс <i>active</i> к <i>footer-bottom__list li</i>
        </div>
    </section>
    <!-- FOOTER END -->

    <div class="notification">
        <div id="notification-msg" class="notification__msg"></div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/maskedinput-fixed.js"></script>
    <script src="js/main.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>