{% extends "layout/base.html" %}

{% block title %}О компании{% endblock %}

{% block css %}
<link rel="stylesheet" href="css/jquery.fancybox.min.css">
{% endblock %}

{% block content %}
    <div class="white-container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="/">Главная</a></li>
            <li class="breadcrumbs__item"><span>О компании</span></li>
        </ul>

        <div class="title title--underline">
            <h1>о компании</h1>
        </div>

        <div class="container html-text">
            <p>Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты. Когда от милой моей долины.</p>
            <p>Поднимается пар и полдневное солнце стоит над непроницаемой чащей темного леса и лишь редкий луч проскальзывает в его святая святых, а я лежу в высокой траве у быстрого ручья и, прильнув к земле, вижу тысячи всевозможных былинок и чувствую, как близок моему сердцу крошечный мирок, что снует между стебельками, наблюдаю эти неисчислимые, непостижимые разновидности червяков и мошек и чувствую.</p>
            <p>близость всемогущего, создавшего нас по своему подобию, веяние вселюбящего, судившего нам парить в вечном блаженстве, когда взор мой туманится и все вокруг меня и небо надо мной запечатлены в моей душе, точно образ возлюбленной, - тогда, дорогой друг, меня часто томит мысль: "Ах! Как бы выразить, как бы вдохнуть в рисунок то, что так полно, так трепетно живет во мне, запечатлеть отражение моей души, как душа моя - отражение предвечного бога!" Друг мой... Но нет!</p>
        </div>

        <section class="about-hero mt-50">
            <!-- Имитация говноразметки из ckeditor -->
            <p style="margin-left:0cm; margin-right:0cm">
                <span style="font-size:11pt">
                    <span style="font-family:Calibri,sans-serif">
                        <strong>
                            <span style="font-size:12.0pt">Работаем быстро, потому что ценим ваше и своё время.</span>
                        </strong>
                    </span>
                </span>
            </p>
        </section>

        <div class="title title--underline">сертификаты</div>
        <div class="certificates">
            {% for item in certificates %}
            <div class="certificate">
                <div class="certificate__inner">
                    <a data-fancybox="gallery" data-caption="{{ item.caption }}" href="{{ item.original }}"><img src="{{ item.thumbnail }}" alt=""></a>
                </div>
            </div>
            {% endfor %}
        </div>

        <section class="form-section">
            <div class="title title--red">задать вопрос</div>
            {% include 'includes/feedbackform.html' %}
        </section>
    </div>
{% endblock %}

{% block scripts %}
<script src="js/jquery.fancybox.min.js"></script>
{% endblock %}