{% extends "layout/base.html" %}

{% block title %}Название альбома{% endblock %}

{% block css %}
<link rel="stylesheet" href="css/jquery.fancybox.min.css">
{% endblock %}

{% block content %}
<div class="white-container">
    <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/">Главная</a></li>
        <li class="breadcrumbs__item"><span>Название альбома</span></li>
    </ul>

    <div class="title title--underline">
        <h1>Название альбома</h1>
    </div>

    <div class="container">
        <div class="html-text text-center">
            <p><strong>Это СЕО-текст!</strong> Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя.</p>
            <p>Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя.</p>
        </div>
    </div>

    <section class="img-figures pt-50 pb-50">
        {% for item in album %}
        <div class="img-figures__col">
            <a href="{{ item.img }}" data-fancybox="gallery" data-caption="{{ item.caption }}">
                <figure class="img-figures__item" style="background-image: url({{ item.img_thumb }})" title="{{ item.caption }}">
                    <figcaption class="img-figures__item-caption img-figures__item-caption--small">
                        <span>{{ item.caption }}</span>
                    </figcaption>
                </figure>
            </a>
        </div>
        {% endfor %}
    </section>
</div>
{% endblock %}

{% block scripts %}
<script src="js/jquery.fancybox.min.js"></script>
<script>
    $(function() {
        $().fancybox({
            selector: '[data-fancybox="gallery"]',
            buttons: ['close']
        });
    });
</script>
{% endblock %}