{% extends "layout/base.html" %}

{% block title %}Статьи{% endblock %}

{% block content %}
<div class="white-container">
    <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/">Главная</a></li>
        <li class="breadcrumbs__item"><span>Статьи</span></li>
    </ul>
    <div class="title title--underline">
        <h1>статьи</h1>
    </div>
    <section class="articles">
        {% for article in articles %}
        <article class="article">
            <div class="article__date">
                <!-- в атрибуте строгий формат ГГГГ-ММ-ДД -->
                <time datetime="2017-08-24">{{ article.date }}</time>
            </div>
            <a href="{{ article.url }}">
                <div class="article__img" style="background-image: url({{ article.img }})">
                </div>
            </a>
            <div class="article__info">
                <div class="article__title">
                    <a href="{{ article.url }}">{{ article.title }}</a>
                </div>
                <div class="article__text">
                    <a href="{{ article.url }}">{{ article.text }}</a>
                </div>
                <div class="article__more">
                    <a href="{{ article.url }}">читать полностью <span class="icon icon-next-double"></span></a>
                </div>
            </div>
        </article>
        {% endfor %}
    </section>
    
    {% include 'includes/paginator.html' %}
</div>
{% endblock %}