{% extends "layout/base.html" %}

{% set PAGE_HAS_SIDEBAR = true %}

{% block title %}Triangle{% endblock %}

{% block css %}
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
{% endblock %}

{% block content %}
<div class="white-container">
    <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/">Главная</a></li>
        <li class="breadcrumbs__item"><span>Triangle</span></li>
    </ul>
    
    <div class="container">
        <div class="brand-logo">
            <img src="media/brand1.jpg" alt="">
        </div>
    </div>

    <div class="title title--underline">
        <h1>triangle</h1>
    </div>


    <div class="clearfix-after">
        <aside id="sidebar" class="sidebar">
            <div id="close-sidebar" class="sidebar__close">✕</div>
            {% for item in sidebar %}
            <div class="side-catalog">
                <div class="side-catalog__title">{{ item.title }}</div>
                <ul class="side-catalog__list">
                    {% for category in item.categories %}
                    <li class="side-catalog__list-item">
                        <a href="{{ category.url }}">{{ category.name }}</a>
                        {% if category.subcategories %}
                        <ul class="side-catalog__sublist">
                            {% for subcategory in category.subcategories %}
                            <li class="side-catalog__sublist-item"><a href="{{ subcategory.url }}">{{ subcategory.name }}</a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </aside>

        <div class="right-content">
            <form action="" class="filters-form">
                <div class="filter filter--6-cols">
                    <div class="filter__title">{{ filter_sizes.title }}</div>
                    <div class="filter__items">
                        {% for item in filter_sizes.items %}
                        <div class="filter__item">
                            <input id="{{ item }}" name="f_size" type="checkbox" value="">
                            <label for="{{ item }}" class="filter__item-label">{{ item }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="filter filter--5-cols">
                    <div class="filter__title">{{ filter_models.title }}</div>
                    <div class="filter__items">
                        {% for item in filter_models.items %}
                        <div class="filter__item">
                            <input id="{{ item }}" name="f_size" type="checkbox" value="">
                            <label for="{{ item }}" class="filter__item-label">{{ item }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="filters-form__extra">
                    <div class="filter filter--extra filter--4-cols">
                        <div class="filter__title">{{ filter_country.title }}</div>
                        <div class="filter__items">
                            {% for item in filter_country.items %}
                            <div class="filter__item">
                                <input id="{{ item }}" name="f_size" type="checkbox" value="">
                                <label for="{{ item }}" class="filter__item-label">{{ item }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="filter filter--extra filter--6-cols">
                        <div class="filter__title">{{ filter_layers.title }}</div>
                        <div class="filter__items">
                            {% for item in filter_layers.items %}
                            <div class="filter__item">
                                <input id="{{ item }}" name="f_size" type="checkbox" value="">
                                <label for="{{ item }}" class="filter__item-label">{{ item }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="filter filter--extra filter--4-cols">
                        <div class="filter__title">{{ filter_load.title }}</div>
                        <div class="filter__items">
                            {% for item in filter_load.items %}
                            <div class="filter__item">
                                <input id="{{ item }}" name="f_size" type="checkbox" value="">
                                <label for="{{ item }}" class="filter__item-label">{{ item }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="filter filter--extra filter--3-cols">
                        <div class="filter__title">{{ filter_speed.title }}</div>
                        <div class="filter__items">
                            {% for item in filter_speed.items %}
                            <div class="filter__item">
                                <input id="{{ item }}" name="f_size" type="checkbox" value="">
                                <label for="{{ item }}" class="filter__item-label">{{ item }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="filter filter--extra filter--3-cols">
                        <div class="filter__title">{{ filter_season.title }}</div>
                        <div class="filter__items">
                                {% for item in filter_season.items %}
                                <div class="filter__item">
                                    <input id="{{ item }}" name="f_size" type="checkbox" value="">
                                    <label for="{{ item }}" class="filter__item-label">{{ item }}</label>
                                </div>
                                {% endfor %}
                        </div>
                    </div>
                    <div class="filter filter--extra">
                        <div class="filter__title">{{ filter_spikes.title }}</div>
                        <div class="filter__items">
                            {% for item in filter_spikes.items %}
                            <div class="filter__item">
                                <input id="{{ item }}" name="f_size" type="checkbox" value="">
                                <label for="{{ item }}" class="filter__item-label">{{ item }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="filters-form__controls">
                    <div class="filters-form__controls-toggle">
                        <span id="js-filters-toggle" class="filters-form__toggle-btn">
                            <span class="filters-form__toggle-opened">Скрыть доп. фильтры </span>
                            <span class="filters-form__toggle-closed">Открыть доп. фильтры </span>
                            <span class="icon icon-next-double"></span>
                        </span>
                    </div>
                    <div class="filters-form__controls-btns">
                        <button type="reset">Сбросить фильтр</button>
                        <button type="submit">Применить фильтр</button>
                    </div>
                </div>
            </form>

            <div class="products">
                <div class="products__title">Лучшие предложения на шины Triangle</div>
                <div class="products__row">
                    {% for item in products %} 
                    <div class="products__col">
                        <div class="product-card">
                            <a href="{{ item.url }}"><div class="product-card__hover"></div></a>
                            <div class="product-card__img">
                                <img src="{{ item.img }}" alt="">
                            </div>
                            <div class="product-card__name">
                                <a href="{{ item.url }}">
                                    {{ item.name }}<br>
                                    {{ item.specs }}
                                </a>
                            </div>
                            <div class="product-card__bottom">
                                <div class="product-card__price">{{  item.price }}</div>
                                <button 
                                    class="product-card__add js-product-card-popup" 
                                    data-product-info='{{ item | dump }}'>
                                    <span class="icon icon-cart"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            {% include 'includes/paginator.html' %}

            <div class="certificates-widget">
                <div class="certificates-widget__title">ООО "Армата" официальный дилер Triangle</div>
                {% if certificates.length > 1 %}
                <div class="certificates-widget__slider certificates-widget__slider--before-init">
                    {% for item in certificates %}
                    <div class="certificates-widget__item">
                        <div class="certificates-widget__img-wrap">
                            <a data-fancybox="gallery" data-caption="{{ item.caption }}" href="{{ item.original }}"><img src="{{ item.thumbnail }}" alt=""></a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                    {% for item in certificates %}
                    <div class="certificates-widget__item">
                        <div class="certificates-widget__img-wrap">
                            <a data-fancybox="gallery" data-caption="{{ item.caption }}" href="{{ item.original }}"><img src="{{ item.thumbnail }}" alt=""></a>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>

            <section class="html-text  mb-60">
                <h2>Производство шин Триангл</h2>
                <p>Производитель шин Триангл – компания Triangle Group, была основа в Китае в 1976 году. За время своего существования компании удалось запатентовать более 20 уникальных разработок в своей области, наладить выпуск почти всех возможных видов радиальных автошин, и войти в число крупнейших производителей КНР. Сегодня на заводах Triangle выпускается более 23 млн. шин в год. Производимая продукция поставляется в 170 стран по всему миру, включая США, Канаду, Австралию, страны Европы, Индию и Россию.Компания Triangle Group уделяет повышенное внимание основным составляющим производственного процесса. На заводах используется самое современное оборудование, организован строгий контроль соблюдения производственной технологии, рабочий персонал проходит регулярное обучение и переподготовку. Большое внимание уделяется и качеству исходного сырья – при производстве шин.</p>
                <p>Качество автошин Триангл подтверждается не только международными сертификатами, но и доверием мировых лидеров тяжелого машиностроения – шины Triangle поставляются на сборочные конвейеры заводов Caterpillar, Volvo, Daewoo. Компания Triangle Group уделяет повышенное внимание основным составляющим производственного процесса. На заводах используется самое современное оборудование, организован строгий контроль соблюдения производственной технологии, рабочий персонал проходит регулярное обучение и переподготовку. Большое внимание уделяется и качеству исходного сырья – при производстве шин.</p>
                <h2>Продукция Triangle</h2>
                <span>Ассортимент автошин Triangle включает более 200 моделей:</span>
                <ul>
                    <li>Легковые шины всех типоразмеров</li>
                    <li>Грузовые шины для лёгких, средних и тяжёлых грузовиков, городских автобусов, автоприцепов </li>
                    <li>Крупногабаритные шины для всех видов карьерной, дорожно-строительной и сельскохозяйственной  спецтехники</li>
                    <li>Обеспечивая достойный уровень таких показателей, как износостойкость и надёжное сцепление с дорогой, шины Triangle успешно конкурируют с продукцией других брендов по цене, благодаря чему им отдают предпочтение многие рядовые автолюбители и профессионалы.</li>
                </ul>
                <h2>Производство шин Триангл</h2>
                <p>Качество автошин Триангл подтверждается не только международными сертификатами, но и доверием мировых лидеров тяжелого машиностроения – шины Triangle поставляются на сборочные конвейеры заводов Caterpillar, Volvo, Daewoo.</p>
                <p>Качество автошин Триангл подтверждается не только международными сертификатами, но и доверием мировых лидеров тяжелого машиностроения – шины Triangle поставляются на сборочные конвейеры заводов Caterpillar, Volvo, Daewoo.</p>
            </section>

            <div class="products">
                <div class="products__title">вы недавно смотрели</div>
                <div class="products__slider products__slider--before-init">
                    {% for item in products %} 
                    <div class="product-card">
                        <a href="{{ item.url }}"><div class="product-card__hover"></div></a>
                        <div class="product-card__img">
                            <img src="{{ item.img }}" alt="">
                        </div>
                        <div class="product-card__name">
                            <a href="{{ item.url }}">
                                {{ item.name }}<br>
                                {{ item.specs }}
                            </a>
                        </div>
                        <div class="product-card__bottom">
                            <div class="product-card__price">{{  item.price }}</div>
                            <button 
                                class="product-card__add js-product-card-popup" 
                                data-product-info='{{ item | dump }}'>
                                <span class="icon icon-cart"></span>
                            </button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <section class="callback">
        <div class="callback__text">Для уточнения информации<br> свяжитесь с нами по телефону</div>
        <div class="callback__phone">
            <a href="tel:84212748845"><span class="icon icon-phone"></span> 8 (4212) 74-88-45</a>
        </div>
    </section>

    <section class="form-section">
        <div class="title title--red">задать вопрос</div>
        {% include 'includes/feedbackform.html' %}
    </section>
</div>

{% include "includes/product-popup.html" %}
{% endblock %}

{% block scripts %}
<script src="js/slick.min.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script>
    $(function() {
        $().fancybox({
            selector: '[data-fancybox="gallery"]',
            buttons: ['close']
        });

        $('.products__slider').on('init', function(slick) {
            $(this).removeClass('products__slider--before-init');
        });
        $('.products__slider').slick({
            speed: 300,
            slidesToShow: 4,
            slidesToScroll: 1,
            infinite: true,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 2,
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                    }
                }
            ]
        });
    });

    $('.certificates-widget__slider').on('init', function(slick) {
        $(this).removeClass('certificates-widget__slider--before-init');
    });
    $('.certificates-widget__slider').slick({
        arrows: false
    });
</script>
{% endblock %}