{% extends "layout/base.html" %}

{% set CART_PAGE = true %}

{% block title %}Оформить предварительный заказ{% endblock %}

{% block content %}
<div class="white-container">
    <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/">Главная</a></li>
        <li class="breadcrumbs__item"><a href="/catalog.html">Каталог</a></li>
        <li class="breadcrumbs__item"><span>Оформить предварительный заказ</span></li>
    </ul>

    <div class="title title--underline">
        <h1>Оформить предварительный заказ</h1>
    </div>

    <div class="container">
        
        <div id="empty-cart" class="empty-cart">
            <p>Ваша корзина пуста</p>
            <p>Перейти в <a href="/catalog.html">каталог</a>.</p>
        </div>

        <table id="cart" class="cart hidden">
            <tbody id="cart-table-body">
            <!-- {% for item in cart %}
                {% if not item.price %}
                    <tr class="cart__item cart__item--no-price" data-init-amount="2">
                {% else %}
                    <tr class="cart__item" data-init-amount="1">
                {% endif %}
                    <td class="cart__item-img">
                        {% if item.image %}
                            <img src="{{ item.image }}" alt="{{ item.name }}">
                        {% else %}
                            <img src="img/no_photo2.svg" alt="фото товара временно отсутствует">
                        {% endif %}
                    </td>
                    <td class="cart__item-name">{{ item.name }}</td>
                    <td class="cart__item-price">{{ item.price }}*</td>
                    <td class="cart__item-amount">
                        <div class="js-amount cart__item-amount-control">
                            <span class="js-amount-minus cart__item-amount-control-minus">
                                <span class="icon icon-back"></span>
                            </span>
                            <div 
                                class="js-amount-number cart__item-amount-control-number" 
                                data-amount="{{ item.amount }}">{{ item.amount }}</div>
                            <span class="js-amount-plus cart__item-amount-control-plus">
                                <span class="icon icon-next"></span>
                            </span>
                        </div>
                    </td>
                    <td class="cart__item-remove js-remove-cart-item">
                        <button class="close-btn">✕</button>
                    </td>
                </tr>
            {% endfor %} -->
            </tbody>
            <tbody class="cart__caption">
                <tr>
                    <td colspan="5">* Цена на сайте является ориентировочной. Актуальная цена будет указана в коммерческом предложении. </td>
                </tr>
            </tbody>
        </table>    
    </div>

    <section id="cart-form" class="form-section hidden">
        <div class="title title--red">Укажите ваши контактные данные</div>
        {% include 'includes/feedbackform.html' %}
    </section>
</div>
{% endblock %}

{% block scripts %}
    <script src="js/cart.js"></script>
{% endblock %}