{% extends "layout/base.html" %}

{% set PAGE_HAS_SIDEBAR = true %}

{% block title %}Каталог шин{% endblock %}

{% block css %}
    <link rel="stylesheet" href="css/slick.css">
{% endblock %}
 
{% block content %}
<div class="white-container">
    <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/">Главная</a></li>
        <li class="breadcrumbs__item"><a href="/catalog.html">Каталог</a></li>
        <li class="breadcrumbs__item"><span>Шины</span></li>
    </ul>

    <div class="title title--underline">
        <h1>Каталог шин</h1>
    </div>

    <div class="clearfix-after">
        <aside id="sidebar" class="sidebar">
            <div id="close-sidebar" class="sidebar__close">✕</div>
            {% for item in catalog_tires_sidebar %}
            <div class="side-catalog">
                <div class="side-catalog__title">{{ item.title }}</div>
                <ul class="side-catalog__list">
                    {% for category in item.categories %}
                    <li class="side-catalog__list-item">
                        <a href="{{ category.url }}">{{ category.name }}</a>
                        {% if category.subcategories %}
                        <ul class="side-catalog__sublist">
                            {% for subcategory in category.subcategories %}
                            <li class="side-catalog__sublist-item"><a href="{{ subcategory.url }}">{{ subcategory.name }}</a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </aside>

        <div class="right-content">
            <div class="mb-30">
                <div class="filters-toggle-wrap">
                    <button id="js-filters-toggle" class="filters-toggle">
                        <!-- <span class="filters-toggle__selected">
                            <span class="icon icon-funnel"></span>
                        </span> -->
                        <span>
                            <span class="filters-toggle__opened-text">скрыть фильтры</span>
                            <span class="filters-toggle__closed-text">показать фильтры</span>
                            <span class="icon icon-next-double"></span>
                        </span>
                    </button>
                </div>
                <form action="" class="filters-form">
                    <div class="filter filter--6-cols">
                        <div class="filter__title">{{ catalog_tires_filter_size.title }}</div>
                        <div class="filter__items">
                            {% for item in catalog_tires_filter_size.items %}
                            <div class="filter__item">
                                <a href="#" class="filter__item-label" title="{{ item }}">{{ item }}</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="filter filter--3-cols">
                        <div class="filter__title">{{ catalog_tires_filter_manufacturers.title }}</div>
                        <div class="filter__items">
                            {% for item in catalog_tires_filter_manufacturers.items %}
                            <div class="filter__item">
                                <a href="#" class="filter__item-label" title="{{ item }}">{{ item }}</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="filter filter--half filter--4-cols">
                        <div class="filter__title">{{ catalog_tires_filter_country.title }}</div>
                        <div class="filter__items">
                            {% for item in catalog_tires_filter_country.items %}
                            <div class="filter__item">
                                <a href="?qwerty=12" class="filter__item-label" title="{{ item }}">{{ item }}</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="filter filter--half filter--6-cols">
                        <div class="filter__title">{{ catalog_tires_filter_layers.title }}</div>
                        <div class="filter__items">
                            {% for item in catalog_tires_filter_layers.items %}
                            <div class="filter__item">
                                <a href="?qwerty=12" class="filter__item-label" title="{{ item }}">{{ item }}</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="filters-form__btns">
                        <!-- <button type="reset" class="js-reset-filter">Сбросить фильтр</button> -->
                        <a href="#reset">Сбросить фильтр</a>
                    </div>
                </form>
            </div>

            <div class="products">
                <div class="products__title">Лучшие предложения на шины</div>
                <div class="products__row">
                    {% for item in catalog_tires_products %} 
                        <div class="products__col">
                            <div class="product-card">
                                <a href="{{ item.url }}"><div class="product-card__hover"></div></a>
                                <div class="product-card__img">
                                    {% if item.img %}
                                        <img src="{{ item.img }}" alt="{{ item.name }}">
                                    {% else %}
                                        <img src="img/no_photo1.svg" alt="фото товара временно отсутствует">
                                    {% endif %}
                                </div>
                                <div class="product-card__name">
                                    <a href="{{ item.url }}">
                                        {{ item.name }}<br>
                                        {{ item.specs }}
                                    </a>
                                </div>
                                <div class="product-card__bottom">
                                    <div class="product-card__price">{{  item.price }}</div>
                                    <button 
                                        class="product-card__add js-product-card-popup" 
                                        data-product-info='{{ item | dump }}'>
                                        <span class="icon icon-cart"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            {% include 'includes/paginator.html' %}

            <div class="products">
                <div class="products__title">вы недавно смотрели</div>
                <div class="products__slider products__slider--before-init {% if products.length > 4%}products__slider--full-border{% endif %}">
                    {% for item in products %} 
                        <div class="product-card product-card--border-left-none">
                            <a href="{{ item.url }}"><div class="product-card__hover"></div></a>
                            <div class="product-card__img">
                                <img src="{{ item.img }}" alt="">
                            </div>
                            <div class="product-card__name">
                                <a href="{{ item.url }}">
                                    {{ item.name }}<br>
                                    {{ item.specs }}
                                </a>
                            </div>
                            <div class="product-card__bottom">
                                <div class="product-card__price">{{  item.price }}</div>
                                <button 
                                    class="product-card__add js-product-card-popup" 
                                    data-product-info='{{ item | dump }}'>
                                    <span class="icon icon-cart"></span>
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <section class="html-text mb-60">Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты. Когда от милой моей долины поднимается пар и полдневное солнце стоит над непроницаемой чащей темного леса и лишь редкий луч проскальзывает в его святая святых, а я лежу в высокой траве у быстрого ручья и, прильнув к земле, вижу тысячи всевозможных былинок и чувствую, как близок моему сердцу крошечный мирок, что снует между стебельками, наблюдаю эти неисчислимые, непостижимые разновидности червяков и мошек и чувствую близость всемогущего, создавшего нас по своему подобию, веяние вселюбящего, судившего нам парить в вечном блаженстве, когда взор мой туманится и все вокруг меня и небо надо мной запечатлены в моей душе, точно образ возлюбленной, - тогда, дорогой друг, меня часто томит мысль: "Ах! Как бы выразить, как бы вдохнуть в рисунок то, что так полно, так трепетно живет во мне, запечатлеть отражение моей души, как душа моя - отражение предвечного бога!" Друг мой... Но нет! Мне не под силу это, меня подавляет величие этих явлений. Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты. Когда от милой моей долины поднимается пар и полдневное солнце стоит над непроницаемой чащей темного леса и лишь редкий луч проскальзывает в его святая святых, а я лежу в высокой траве у быстрого ручья и, прильнув к земле, вижу тысячи всевозможных былинок и чувствую, как близок моему сердцу крошечный мирок, что снует между стебельками, наблюдаю эти неисчислимые, непостижимые разновидности червяков и мошек и чувствую близость всемогущего, создавшего нас по своему подобию, веяние вселюбящего, судившего нам парить в вечном блаженстве, когда взор мой туманится и все вокруг меня и небо надо мной запечатлены в моей душе, точно образ возлюбленной, - тогда, дорогой друг, меня часто томит мысль: "Ах! Как бы выразить, как бы вдохнуть в рисунок то, что так полно, так трепетно живет во мне, запечатлеть отражение моей души, как душа моя - отражение предвечного бога!" Друг мой... Но нет! Мне не под силу это, меня подавляет величие этих явлений. Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как </section>
        </div>
    </div>
</div>

<div class="white-container">
    <section class="callback">
        <div class="callback__text">Для уточнения информации<br> свяжитесь с нами по телефону</div>
        <div class="callback__phone">
            <a href="tel:84212748845"><span class="icon icon-phone"></span> 8 (4212) 74-88-45</a>
        </div>
    </section>

    <section class="form-section">
        <div class="title title--red">задать вопрос</div>
        {% include 'includes/feedbackform.html' %}
    </section>
</div>

{% include "includes/product-popup.html" %}
{% endblock %}

{% block scripts %}
<script src="js/slick.min.js"></script>
<script>
    $(function() {
        $('.products__slider').on('init', function(slick) {
            $(this).removeClass('products__slider--before-init');
        });
        $('.products__slider').slick({
            speed: 300,
            slidesToShow: 4,
            slidesToScroll: 1,
            infinite: true,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 2,
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                    }
                }
            ]
        });
    });
</script>
{% endblock %}