{% extends "layout/base.html" %}

{% block title %}Каталог продукции{% endblock %}

{% block content %}
<div class="white-container">
    <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/">Главная</a></li>
        <li class="breadcrumbs__item"><span>Каталог продукции</span></li>
    </ul>

    <div class="title title--underline">
        <h1>Каталог продукции</h1>
    </div>

    <section class="img-figures pt-50">
        {% for item in catalog %}
        <a href="{{ item.link }}">
            <figure class="img-figures__item" style="background-image: url({{ item.img }})" title="{{ item.caption }}">
                <figcaption class="img-figures__item-caption"><span>{{ item.caption }}</span></figcaption>
            </figure>
        </a>
        {% endfor %}
    </section>

    <div class="catalog-search">
        <form action="" class="search">
            <div class="row">
                <div class="search__title">поиск шин, дисков, цепей</div>
                <div class="search__form">
                    <div class="search__input-wrap">
                        <input type="text" placeholder="Введите наименование или артикул...">
                    </div>
                    <button class="btn"><span>НАЙТИ</span></button>
                </div>
            </div>
        </form>
    </div>

    <section class="callback">
        <div class="callback__text">Для уточнения информации<br> свяжитесь с нами по телефону</div>
        <div class="callback__phone">
            <a href="tel:84212748845"><span class="icon icon-phone"></span> 8 (4212) 74-88-45</a>
        </div>
    </section>

    <section class="form-section">
        <div class="title title--red">задать вопрос</div>
        {% include 'includes/feedbackform.html' %}
    </section>
</div>
{% endblock %}