{% extends "layout/base.html" %}

{% block title %}Контакты{% endblock %}

{% block content %}
<div class="white-container">
    <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/">Главная</a></li>
        <li class="breadcrumbs__item"><span>Контакты</span></li>
    </ul>
    <div class="title title--underline">
        <h1>Контакты</h1>
    </div>
    <div class="contacts-info">
        <div class="row">
            {% for item in contacts %}
            <div class="contacts-info__item">
                <div class="contacts-info__title">{{ item.title }}</div>
                <div class="contacts-info__content">{{ item.text }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div id="map" style="width: 100%; height: 380px"></div>
<div class="white-container">
    <section class="location">
        <div class="location__item">
            <div class="location__caption">Заезд с ул. Шелеста</div>
            <img src="img/shelesta.jpg" alt="" class="location__img">
        </div>
        <div class="location__item">
            <div class="location__caption">Заезд с ул. Тихоокеанской</div>
            <img src="img/tihookeanskaja.jpg" alt="" class="location__img">
        </div>
    </section>
    <section class="form-section">
        <div class="title title--red">задать вопрос</div>
        {% include 'includes/feedbackform.html' %}
    </section>
    <div class="title title--underline">
        <h2>реквизиты ооо «Армата»</h2>
    </div>
    <div class="requisites">
        <div class="row">
            <div class="requisites__item">
                <ul>
                    <li>Юридический адрес: 680042, Хабаровский край, г. Хабаровск ул. Сибирская, д 6, этаж 2</li>
                </ul>
            </div>
            <div class="requisites__item">
                <ul>
                    <li>ИНН: 2722079758</li>
                    <li>КПП: 272201001</li>
                    <li>ОГРН: 1162724089384</li>
                </ul>
            </div>
            <div class="requisites__item">
                <ul>
                    <li>Банк: ДАЛЬНЕВОСТОЧНЫЙ Ф-Л ПАО «ПРОМСВЯЗЬБАНК»</li>
                    <li>БИК: 040813744</li>
                    <li>Корр. счет: 30101810700000000744</li>
                    <li>Рас. счет: 40702810307000003169</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
<script>
    ymaps.ready(init);

    var myMap, 
        myPlacemark;

    function init() {
        myMap = new ymaps.Map("map", {
            center: [48.515842, 135.055525],
            zoom: 16
        }); 
        
        myPlacemark = new ymaps.Placemark([48.514117, 135.055675], 
            {
                hintContent: 'Армата',
                balloonContent: 'Армата'
            },
            {
                iconLayout: 'default#image',
                iconImageHref: 'img/map.svg',
                iconImageSize: [220, 64],
                iconImageOffset: [-25, -45]
            }
        );

        var routeShelesta = new ymaps.Polyline([
            [48.514176, 135.055412],
            [48.514767, 135.055981],
            [48.515402, 135.056099],
            [48.516250, 135.057118],
            [48.516172, 135.057569],
            [48.517134, 135.058427]
        ], {
            balloonContent: ""
        }, {
            strokeColor: "#FF0000",
            strokeWidth: 4
        });

        var routeTihookeanskaya = new ymaps.Polyline([
            [48.514176, 135.055412],
            [48.513670, 135.054597],
            [48.516193, 135.051883],
            [48.516642, 135.050466]
        ], {
            balloonContent: ""
        }, {
            strokeColor: "#000000",
            strokeWidth: 4
        });

        myMap.behaviors.disable('scrollZoom');         
        myMap.geoObjects
            .add(myPlacemark)
            .add(routeShelesta)
            .add(routeTihookeanskaya);
    }
</script>
{% endblock %}