{% extends "layout/base.html" %}

{% set PAGE_HAS_SIDEBAR = true %}

{% block title %}Главная{% endblock %}

{% block css %}
    <link rel="stylesheet" href="css/slick.css">
{% endblock %}

<!-- уникальный класс для хедера на главной странице -->
{% set header_class='page-header--index' %}

{% block content %}
<div class="hero">
    <div class="hero__content">
        <h1 class="hero__content-title">«АРМАТА» – ВАШ НАДЕЖНЫЙ ПОСТАВЩИК АВТОШИН!</h1>
        <div class="hero__content-text">Наша основная специализация – оптовая поставка шин для грузового автотранспорта и спецтехники. На наших складах всегда в наличии более 15 000 единиц автошин.</div> 
    </div>
    <form action="" class="search">
        <div class="row">
            <div class="search__title">поиск шин, дисков, цепей</div>
            <div class="search__form">
                <div class="search__input-wrap">
                    <input type="text" placeholder="Введите наименование или артикул...">
                </div>
                <button class="btn"><span>НАЙТИ</span></button>
            </div>
        </div>
    </form>
</div>

<section class="logo-slider" id="logo-slider">
    <div class="container">
        <h2 class="logo-slider__title">Мы являемся дилером</h2>

        <div class="logo-slider__slides-wrapper logo-slider__slides-wrapper--before-init">
            <div class="logo-slider__slides">
                {% for slide in logo_slider %}
                    <div class="logo-slider__slide">
                        <img class="logo-slider__img" src="{{ slide }}" alt="">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<div class="white-container">
    <div class="title title--underline">лучшие предложения</div>

    <div class="clearfix-after">
        <aside id="sidebar" class="sidebar">
            <div id="close-sidebar" class="sidebar__close">✕</div>
            {% for item in sidebar %}
                <div class="side-catalog side-catalog--top-offset">
                    <div class="side-catalog__title">{{ item.title }}</div>
                    <ul class="side-catalog__list">
                        {% for category in item.categories %}
                            <li class="side-catalog__list-item">
                                <a href="{{ category.url }}">{{ category.name }}</a>
                                {% if category.subcategories %}
                                    <ul class="side-catalog__sublist">
                                        {% for subcategory in category.subcategories %}
                                            <li class="side-catalog__sublist-item"><a href="{{ subcategory.url }}">{{ subcategory.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </aside>
        <div class="right-content">
            {% for category in index_categories %}
                <div class="products">
                    <div class="products__title">{{ category.title }}</div>
                    <div class="products__row">
                        {% for category_item in category.items %} 
                            <div class="products__col">
                                <div class="product-card">
                                    <a href="{{ category_item.url }}"><div class="product-card__hover"></div></a>
                                    <div class="product-card__img">
                                        <img src="{{ category_item.img }}" alt="">
                                    </div>
                                    <div class="product-card__name">
                                        <a href="{{ category_item.url }}">
                                            {{ category_item.name }}<br>
                                            {{ category_item.specs }}
                                        </a>
                                    </div>
                                    <div class="product-card__bottom">
                                        <div class="product-card__price">
                                            {% if category_item.price %}
                                                {{ category_item.price }}
                                            {% else %}
                                                <div class="product-card__no-price">цена по запросу</div>
                                            {% endif %}
                                        </div>
                                        <button 
                                            class="product-card__add js-product-card-popup" 
                                            data-product-info='{{ category_item | dump }}'>
                                            <span class="icon icon-cart"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="products__more">
                        <a href="{{ category.link.address }}">{{ category.link.caption }} <span class="icon icon-next-double"></span></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <section class="img-figures">
        {% for item in catalog %}
            <a href="{{ item.link }}">
                <figure class="img-figures__item" style="background-image: url({{ item.img }})">
                    <figcaption class="img-figures__item-caption">
                        <span>{{ item.caption }}</span>
                    </figcaption>
                </figure>
            </a>
        {% endfor %}
    </section>

    <section class="promo">
        <div class="promo__items">
            {% for promo_item in promo.items %}
                <div class="promo__item">
                    <div class="promo__item-title">{{ promo_item.title }}</div>
                    <div class="promo__item-text">{{ promo_item.text }}</div>
                </div>
            {% endfor %}
        </div>
        <p class="promo__text">{{ promo.text | escape | nl2br }}</p>
    </section>

    <div class="title title--underline">новости</div>
    <section class="news">
        {% for news_item in index_news %}
            <article class="news__item"> 
                <div class="news__item-date">
                    <time datetime="2017-08-21">{{ news_item.date }}</time>
                </div>
                <div class="news__item-img">
                    <a href="{{ news_item.url }}"><img src="{{ news_item.img }}" alt=""></a>
                </div>
                <div class="news__item-content">
                    <div class="news__item-content-title">
                        <a href="{{ news_item.url }}">{{ news_item.title }}</a>
                    </div>
                    <div class="news__item-content-text">
                        <a href="{{ news_item.url }}">{{ news_item.text }}</a>
                    </div>
                </div>
            </article> 
        {% endfor %}
    </section>

    <section class="callback">
        <div class="callback__text">Для уточнения информации<br> свяжитесь с нами по телефону</div>
        <div class="callback__phone">
            <a href="tel:84212748845"><span class="icon icon-phone"></span> 8 (4212) 74-88-45</a>
        </div>
    </section>
</div>
<section class="form-section form-section--img-bg">
    <div class="title title--red">задать вопрос</div>
    {% include 'includes/feedbackform.html' %}
</section>
<div id="map" style="width: 100%; height: 480px"></div>

{% include "includes/product-popup.html" %}
{% endblock %}

{% block scripts %}
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
<script src="js/slick.min.js"></script>
<script>
    ymaps.ready(init);

    var myMap, 
        myPlacemark;

    function init() {
        myMap = new ymaps.Map("map", {
            center: [48.515842, 135.055525],
            zoom: 16
        }); 
        
        myPlacemark = new ymaps.Placemark([48.514117, 135.055675], 
            {
                hintContent: 'Армата',
                balloonContent: 'Армата'
            },
            {
                iconLayout: 'default#image',
                iconImageHref: 'img/map.svg',
                iconImageSize: [220, 64],
                iconImageOffset: [-25, -45]
            }
        );

        var routeShelesta = new ymaps.Polyline([
            [48.514176, 135.055412],
            [48.514767, 135.055981],
            [48.515402, 135.056099],
            [48.516250, 135.057118],
            [48.516172, 135.057569],
            [48.517134, 135.058427]
        ], {
            balloonContent: ""
        }, {
            strokeColor: "#FF0000",
            strokeWidth: 4
        });

        var routeTihookeanskaya = new ymaps.Polyline([
            [48.514176, 135.055412],
            [48.513670, 135.054597],
            [48.516193, 135.051883],
            [48.516642, 135.050466]
        ], {
            balloonContent: ""
        }, {
            strokeColor: "#000000",
            strokeWidth: 4
        });

        myMap.behaviors.disable('scrollZoom');         
        myMap.geoObjects
            .add(myPlacemark)
            .add(routeShelesta)
            .add(routeTihookeanskaya);
    }

    $(function() {
      var sliderArrow = [
        '<svg class="logo-slider__arrow-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="284.929px" height="284.929px" viewBox="0 0 284.929 284.929" style="enable-background:new 0 0 284.929 284.929;" xml:space="preserve">',
          '<g>',
            '<path d="M165.304,142.468L277.517,30.267c1.902-1.903,2.847-4.093,2.847-6.567c0-2.475-0.951-4.665-2.847-6.567L263.239,2.857    C261.337,0.955,259.146,0,256.676,0c-2.478,0-4.665,0.955-6.571,2.857L117.057,135.9c-1.903,1.903-2.853,4.093-2.853,6.567    c0,2.475,0.95,4.664,2.853,6.567l133.048,133.043c1.903,1.906,4.086,2.851,6.564,2.851c2.478,0,4.66-0.947,6.563-2.851    l14.277-14.267c1.902-1.903,2.851-4.094,2.851-6.57c0-2.472-0.948-4.661-2.851-6.564L165.304,142.468z"/>',
            '<path d="M55.668,142.468L167.87,30.267c1.903-1.903,2.851-4.093,2.851-6.567c0-2.475-0.947-4.665-2.851-6.567L153.6,2.857    C151.697,0.955,149.507,0,147.036,0c-2.478,0-4.668,0.955-6.57,2.857L7.417,135.9c-1.903,1.903-2.853,4.093-2.853,6.567    c0,2.475,0.95,4.664,2.853,6.567l133.048,133.043c1.902,1.906,4.09,2.851,6.57,2.851c2.471,0,4.661-0.947,6.563-2.851    l14.271-14.267c1.903-1.903,2.851-4.094,2.851-6.57c0-2.472-0.947-4.661-2.851-6.564L55.668,142.468z"/>',
          '</g>',
        '</svg>',
      ].join('');
  
      $('.logo-slider__slides')
        .on('init', function () {
          $(this)
            .closest('.logo-slider__slides-wrapper')
            .removeClass('logo-slider__slides-wrapper--before-init');
          })
          .slick({
            arrows: true,
            autoplay: true,
            autoplaySpeed: 3000,
            slidesToShow: 3,
            appendArrows: '.logo-slider__slides-wrapper',
            prevArrow: '<button type="button" class="logo-slider__prev">' + sliderArrow + '</button>',
            nextArrow: '<button type="button" class="logo-slider__next">' + sliderArrow + '</button>',
            responsive: [
              {
                breakpoint: 767,
                unslick: true,
              },
            ],
          });
    });
</script>
{% endblock %}
