{% extends "layout/base.html" %}

{% block title %}Важная новость{% endblock %}

{% block content %}
    <div class="white-container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="/">Главная</a></li>
            <li class="breadcrumbs__item"><a href="/news.html">Новости</a></li>
            <li class="breadcrumbs__item"><span>Важная новость</span></li>
        </ul>

        <div class="title title--underline">
            <h1>Важная новость</h1>
        </div>

        <div class="decor-img" style="background-image: url(media/about-bg.jpg)"></div>

        <div class="container html-text">
            <p>Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты. Когда от милой моей долины.</p>
            <p>Поднимается пар и полдневное солнце стоит над непроницаемой чащей темного леса и лишь редкий луч проскальзывает в его святая святых, а я лежу в высокой траве у быстрого ручья и, прильнув к земле, вижу тысячи всевозможных былинок и чувствую, как близок моему сердцу крошечный мирок, что снует между стебельками, наблюдаю эти неисчислимые, непостижимые разновидности червяков и мошек и чувствую.</p>
            <p>близость всемогущего, создавшего нас по своему подобию, веяние вселюбящего, судившего нам парить в вечном блаженстве, когда взор мой туманится и все вокруг меня и небо надо мной запечатлены в моей душе, точно образ возлюбленной, - тогда, дорогой друг, меня часто томит мысль: "Ах! Как бы выразить, как бы вдохнуть в рисунок то, что так полно, так трепетно живет во мне, запечатлеть отражение моей души, как душа моя - отражение предвечного бога!" Друг мой... Но нет!</p>
        </div>

        <div class="title title--underline">другие новости</div>
        <section class="news">
            {% for news_item in index_news %}
            <article class="news__item"> 
                <div class="news__item-date">
                    <time datetime="2017-08-21">{{ news_item.date }}</time>
                </div>
                <div class="news__item-img">
                    <a href="{{ news_item.url }}"><img src="{{ news_item.img }}" alt=""></a>
                </div>
                <div class="news__item-content">
                    <div class="news__item-content-title">
                        <a href="{{ news_item.url }}">{{ news_item.title }}</a>
                    </div>
                    <div class="news__item-content-text">
                        <a href="{{ news_item.url }}">{{ news_item.text }}</a>
                    </div>
                </div>
            </article> 
            {% endfor %}
        </section>

        <section class="form-section">
            <div class="title title--red">задать вопрос</div>
            {% include 'includes/feedbackform.html' %}
        </section>
    </div>
{% endblock %}