{% extends "layout/base.html" %}

{% block title %}Новости{% endblock %}

{% block content %}
<div class="white-container">
    <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/">Главная</a></li>
        <li class="breadcrumbs__item"><span>Новости</span></li>
    </ul>

    <div class="title title--underline">
        <h1>новости</h1>
    </div>

    <section class="articles">
        {% for item in news %}
        <article class="article {% if loop.index < 3 %}article--big{% endif %}">
            <div class="article__date">
                <!-- в атрибуте строгий формат ГГГГ-ММ-ДД -->
                <time datetime="2017-08-24">{{ item.date }}</time>
            </div>
            <a href="{{ item.url }}">
                <div class="article__img" style="background-image: url({{ item.img }})">
                </div>
            </a>
            <div class="article__info">
                <div class="article__title">
                    <a href="{{ item.url }}">{{ item.title }}</a>
                </div>
                <div class="article__text">
                    <a href="{{ item.url }}">{{ item.text }}</a>
                </div>
                <div class="article__more">
                    <a href="{{ item.url }}">читать полностью <span class="icon icon-next-double"></span></a>
                </div>
            </div>
        </article>
        {% endfor %}
    </section>
    
    {% include 'includes/paginator.html' %}
</div>
{% endblock %}