{% extends "layout/base.html" %}

{% set PAGE_HAS_SIDEBAR = true %}

{% block title %}Страница диски{% endblock %}

{% block css %}
    <link rel="stylesheet" href="css/slick.css">
{% endblock %}

{% block content %}
<div class="white-container">
    <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/">Главная</a></li>
        <li class="breadcrumbs__item"><a href="/catalog.html">Каталог</a></li>
        <li class="breadcrumbs__item"><a href="/catalog-disc.html">Диски</a></li>
        <li class="breadcrumbs__item"><span>Страница диска</span></li>
    </ul>
    
    <div class="container">
        <div class="brand-logo">
            <img src="media/brand1.jpg" alt="">
        </div>
    </div>

    <div class="title title--underline">
        <h1>Страница диска</h1>
    </div>


    <div class="clearfix-after">
        <aside id="sidebar" class="sidebar">
            <div id="close-sidebar" class="sidebar__close">✕</div>
            {% for item in sidebar %}
            <div class="side-catalog">
                <div class="side-catalog__title">{{ item.title }}</div>
                <ul class="side-catalog__list">
                    {% for category in item.categories %}
                    <li class="side-catalog__list-item">
                        <a href="{{ category.url }}">{{ category.name }}</a>
                        {% if category.subcategories %}
                        <ul class="side-catalog__sublist">
                            {% for subcategory in category.subcategories %}
                            <li class="side-catalog__sublist-item"><a href="{{ subcategory.url }}">{{ subcategory.name }}</a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </aside>

        <div class="right-content">
            <div class="product-title">Наименование товара: <span id="product-page-title">Triangle TR668 / 0.00R20</span></div>
            <div class="product">
                <div class="product__right">
                    <div class="product-img">
                        <div class="no-photo">Фото товара<br> временно отсутствует.</div>
                    </div>
                </div>
                <div class="product__left">
                    <table class="product-info">
                        <tr>
                            <td>Посадочный наружный радиус<br><b>22,5</b></td>
                        </tr>
                        <tr>
                            <td>Ширина диска<br><b>9,00</b></td>
                        </tr>
                        <tr>
                            <td>Количество отверстий под крепление<br><b>10</b></td>
                        </tr>
                        <tr class="product-info__in-stock">
                            <td>В наличии на складе</td>
                        </tr>
                    </table>
                    <div class="product-add">
                        <div class="product-add__price">
                            18000 р.*
                            <!-- если нет цены
                                <div class="product-add__no-price">цена по запросу</div>
                            -->
                        </div>
                        <div class="product-add__control">
                            <button class="product-add__submit">
                                <span class="icon icon-cart"></span>
                            </button>
                            <div class="product-add__amount">
                                <span data-amount="3" class="product-add__amount-value js-amount-number">3</span>
                                <div class="product-add__amount-minus js-amount-minus">
                                    <span class="icon icon-back"></span>
                                </div>
                                <div class="product-add__amount-plus js-amount-plus">
                                    <span class="icon icon-next"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-note">*Цена на сайте является ориентировочной. Актуальные цены узнавайте у наших менеджеров.</div>
            <div class="product-description">
                <div class="product-description__item">
                    <div class="product-description__title">Характеристики:</div>
                    <ul class="product-description__list">
                        <li>Диаметр отверстия ступицы: 18</li>
                        <li>Вылет: 175,50</li>
                    </ul>
                </div>
                <div class="product-description__item">
                    <div class="product-description__title">Подходит для шин:</div>
                    <ul class="product-description__list">
                        <li>130/87BZ</li>
                        <li>XYZ-5617</li>
                        <li>YAOMIN-9000</li>
                    </ul>
                </div>
                <div class="product-description__item">
                    <div class="product-description__title">Страна:</div>
                    <ul class="product-description__list">
                        <li>Китай</li>
                    </ul>
                </div>
                <div class="product-description__text">
                    <div class="product-description__title">Описание:</div>
                    <div class="html-text">М748 полностью адаптированы для пользователей из России. Модель обладает улучшенным строением протектора, канавки которого имеют оптимальную глубину и отдаленность друг от друга. Лучшие пользовательские характеристики, включая повышенную стойкость к износу позволил достичь особый состав резиновой смеси. Данные грузовые шины, с прочным каркасом созданы для тех, кто не собирается каждый год тратится на «переобувку» своего транспортного средства.</div>
                </div>
            </div>

            <section class="testimonials {% if catalog_disc_testimonials.length == 0 %}testimonials--empty{% endif %}">
                <div class="title title--underline">Отзывы о диске</div>
                {% if catalog_disc_testimonials.length == 0 %}
                    <div class="testimonial testimonial--empty">Никто еще не оставил отзыв, но вы можете стать первым.</div>
                {% endif %}

                {% if catalog_disc_testimonials.length < 3 %}
                    {% for item in catalog_disc_testimonials %}
                        <article class="testimonial">
                            <date class="testimonial__date" datetime="{{ item.date_robot }}">{{ item.date_human }}</date>
                            <div class="testimonial__body">
                                <div class="testimonial__author">{{ item.author }}</div>
                                <div class="testimonial__text">{{ item.text }}</div>
                            </div>
                        </article>
                    {% endfor %}
                {% else %}
                    {% for item in catalog_disc_testimonials %}
                        {% if loop.index0 < 2 %}
                            <article class="testimonial">
                                <date class="testimonial__date" datetime="{{ item.date_robot }}">{{ item.date_human }}</date>
                                <div class="testimonial__body">
                                    <div class="testimonial__author">{{ item.author }}</div>
                                    <div class="testimonial__text">{{ item.text }}</div>
                                </div>
                            </article>
                        {% endif %}
                    {% endfor %}
                    <div id="hidden-testimonials" class="hidden">
                        {% for item in catalog_disc_testimonials %}
                            {% if loop.index0 > 1 %}
                                <article class="testimonial">
                                    <date class="testimonial__date" datetime="{{ item.date_robot }}">{{ item.date_human }}</date>
                                    <div class="testimonial__body">
                                        <div class="testimonial__author">{{ item.author }}</div>
                                        <div class="testimonial__text">{{ item.text }}</div>
                                    </div>
                                </article>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="testimonials-control">
                    {% if catalog_disc_testimonials.length > 2 %}
                        <div id="toggle-testimonials" class="testimonials-control__more">
                            <span id="testimonials-toggle-text" data-swap-text="скрыть">показать больше</span>
                            <span class="icon icon-next-double"></span>
                        </div>
                    {% endif %}
                    <button id="open-testimonial-popup" class="btn">оставить отзыв</button>
                </div>
            </section>

            <div class="products">
                <div class="products__title">с этим товаром покупают</div>
                <div id="slider-1" class="products__slider products__slider--before-init">
                    {% for item in products %} 
                    <div class="product-card">
                        <a href="{{ item.url }}"><div class="product-card__hover"></div></a>
                        <div class="product-card__img">
                            <img src="{{ item.img }}" alt="">
                        </div>
                        <div class="product-card__name">
                            <a href="{{ item.url }}">
                                {{ item.name }}<br>
                                {{ item.specs }}
                            </a>
                        </div>
                        <div class="product-card__bottom">
                            <div class="product-card__price">{{  item.price }}</div>
                            <button 
                                class="product-card__add js-product-card-popup"
                                data-product-info='{{ item | dump }}'>
                                <span class="icon icon-cart"></span>
                            </button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="products mt-50">
                <div class="products__title">вы недавно смотрели</div>
                <div id="slider-2" class="products__slider products__slider--before-init">
                    {% for item in products %} 
                    <div class="product-card">
                        <a href="{{ item.url }}"><div class="product-card__hover"></div></a>
                        <div class="product-card__img">
                            <img src="{{ item.img }}" alt="">
                        </div>
                        <div class="product-card__name">
                            <a href="{{ item.url }}">
                                {{ item.name }}<br>
                                {{ item.specs }}
                            </a>
                        </div>
                        <div class="product-card__bottom">
                            <div class="product-card__price">{{  item.price }}</div>
                            <button 
                                class="product-card__add js-product-card-popup"
                                data-product-info='{{ item | dump }}'>
                                <span class="icon icon-cart"></span>
                            </button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <section class="callback">
        <div class="callback__text">Для уточнения информации<br> свяжитесь с нами по телефону</div>
        <div class="callback__phone">
            <a href="tel:84212748845"><span class="icon icon-phone"></span> 8 (4212) 74-88-45</a>
        </div>
    </section>

    <section class="form-section">
        <div class="title title--red">задать вопрос</div>
        {% include 'includes/feedbackform.html' %}
    </section>
</div>

<div id="testimonial-popup" class="testimonial-popup">
    <div class="col-sm-10" style="position: relative">
        <button id="close-testimonial-popup" class="close-btn">✕</button>
    </div>
    <section class="form-section">
        <div class="title title--red">оставить отзыв</div>
        {% include 'includes/feedbackform.html' %}
    </section>
</div>

{% include "includes/product-popup.html" %}
{% endblock %}

{% block scripts %}
<script src="js/slick.min.js"></script>
<script>
    $(function() {
        $('#slider-1').on('init', function(slick) {
            $(this).removeClass('products__slider--before-init');
        });
        $('#slider-1').slick({
            speed: 300,
            slidesToShow: 4,
            slidesToScroll: 1,
            infinite: true,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 2,
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                    }
                }
            ]
        });

        $('#slider-2').on('init', function(slick) {
            $(this).removeClass('products__slider--before-init');
        });
        $('#slider-2').slick({
            speed: 300,
            slidesToShow: 4,
            slidesToScroll: 1,
            infinite: true,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 2,
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                    }
                }
            ]
        });
    });

    $('.certificates-widget__slider').on('init', function(slick) {
        $(this).removeClass('certificates-widget__slider--before-init');
    });
    $('.certificates-widget__slider').slick({
        arrows: false
    });
</script>
{% endblock %}