{% extends "layout/base.html" %}

{% block title %}Результаты поиска{% endblock %}

{% block content %}
<div class="white-container">
    <div class="search-info">
        <div class="text-center">По вашему запросу <span class="text-red">Lorem ipsum dolor sit amet</span><br>найдено 20 совпадений</div>
    </div>
    <form action="" class="search">
        <div class="search__form">
            <div class="search__input-wrap">
                <input type="text" placeholder="Введите наименование или артикул...">
            </div>
            <button class="btn"><span>НАЙТИ</span></button>
        </div>
    </form>
    <section class="search-results">
        <div class="search-results__title">Lorem ipsum dolor sit amet</div>
        <div class="search-results__row">
            {% for item in products %} 
            <div class="search-results__col">
                <div class="product-card">
                    <a href="{{ item.url }}"><div class="product-card__hover"></div></a>
                    <div class="product-card__img">
                        <img src="{{ item.img }}" alt="">
                    </div>
                    <div class="product-card__name">
                        <a href="{{ item.url }}">
                            {{ item.name }}<br>
                            {{ item.specs }}
                        </a>
                    </div>
                    <div class="product-card__bottom">
                        <div class="product-card__price">{{ item.price }}</div>
                        <button class="product-card__add"><span class="icon icon-cart"></span></button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    
    {% include 'includes/paginator.html' %}
</div>
{% endblock %}