{% extends "layout/base.html" %}

{% block title %}Поиск товаров{% endblock %}

{% block content %}
<div class="search-page">
    <form action="" class="search">
        <div class="row">
            <div class="search__title">поиск шин, дисков, цепей</div>
            <div class="search__form">
                <div class="search__input-wrap">
                    <input type="text" placeholder="Введите наименование или артикул...">
                    <div class="search-hint">
                        <ul class="search-hint__list">
                            <li class="search-hint__item search-hint__item--selected">Lorem, ipsum dolor.</li>
                            <li class="search-hint__item">Facilis, <span class="search-hint__highlight">adipis</span>ci enim.</li>
                        </ul>
                    </div>
                </div>
                <button class="btn"><span>НАЙТИ</span></button>
            </div>
        </div>
    </form>
</div>
{% endblock %}