{% extends "layout/base.html" %}

{% block title %}По вашему запросу Lorem ipsum dolor sit amet ничего не найдено{% endblock %}

{% block content %}
<div class="white-container">
    <div class="search-info">
        <div class="text-center">По вашему запросу <span class="text-red">Lorem ipsum dolor sit amet</span><br>ничего не найдено</div>
    </div>
    <form action="" class="search">
        <div class="search__form">
            <div class="search__input-wrap">
                <input type="text" placeholder="Введите наименование или артикул...">
            </div>
            <button class="btn"><span>НАЙТИ</span></button>
        </div>
    </form>
    <div class="search-info">
        <div class="text-center">Если вам нужна консультация, отправьте нам свой запрос.<br>Наши менеджеры свяжутся с вами в ближайшее время.</div>
    </div>
    <section class="form-section pt-0">
        <div class="title title--red">отправить запрос</div>
        {% include 'includes/feedbackform.html' %}
    </section>
</div>
{% endblock %}