{% extends "layout/base.html" %}

{% block title %}Карты сайта{% endblock %}

{% block content %}
<div class="white-container">
    <div class="title title--underline">
        <h1>карта сайта</h1>
    </div>
    <div class="container pb-50">        
        <div class="sitemap">
            <ul>
                <li><a href="/">Главная</a></li>
                <li>
                    <a href="/catalog.html">Каталог</a>
                    <ul>
                        <li>
                            <a href="/catalog-tires.html">Шины</a>
                            <ul>
                                <li><a href="/product-tire.html">Шины для камаза</a></li>
                                <li><a href="/product-tire.html">Шины для краза</a></li>
                                <li><a href="/product-tire.html">Шины для трактора</a></li>
                                <li><a href="/product-tire.html">Шины для комбайна</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/catalog-disc.html">Диски</a>
                            <ul>
                                <li><a href="/product-disc.html">Диски для фуры</a></li>
                                <li><a href="/product-disc.html">Диски для камаза</a></li>
                                <li><a href="/product-disc.html">Диски для уаза</a></li>
                                <li><a href="/product-disc.html">Диски для жигули</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/catalog-chains.html">Цепи</a>
                            <ul>
                                <li><a href="/product-chain.html">Цепи трактора</a></li>
                                <li><a href="/product-chain.html">Цепи бульдозера</a></li>
                                <li><a href="/product-chain.html">Цепи танка</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="/search-page.html">Поиск</a></li>
                <li><a href="/about.html">О компании</a></li>
                <li>
                    <a href="/gallery.html">Галерея</a>
                    <ul>
                        <li><a href="/album.html">Альбом</a></li>
                    </ul>
                </li>
                <li><a href="/contacts.html">Контакты</a></li>
                <li>
                    <a href="/news.html">Новости</a>
                    <ul>
                        <li><a href="/news-item.html">Страница новости</a></li>
                    </ul>
                </li>
                <li><a href="/cart.html">Корзина/оформление</a></li>
                <li><a href="/vacancies.html">Вакансии</a></li>
                <li>
                    <a href="/search-results.html">Результаты поиска</a>
                    <ul>
                        <li><a href="/search-results-fail.html">По запросу ничего не найдено</a></li>
                    </ul>
                </li>
                <li><a href="/brand-page.html">Страница бренда</a></li>
                <li><a href="/404.html">Страница 404</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}