{% extends "layout/base.html" %}

{% set VACANCIES_PAGE = true %}

{% block title %}Вакансии{% endblock %}

{% block content %}
<div class="white-container">
    <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/">Главная</a></li>
        <li class="breadcrumbs__item"><a href="/about.html">О компании</a></li>
        <li class="breadcrumbs__item"><span>Вакансии</span></li>
    </ul>
    <div class="title title--underline">
        <h1>вакансии</h1>
    </div>
    <div class="container">
        <div class="text-center">
            <p><strong>Это СЕО-текст!</strong> Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя.</p>
            <p>Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя.</p>
        </div>
    </div>
    <div class="decor-img" style="background-image: url(img/decor-img.jpg)"></div>
    <div class="container">
        {% for item in vacancies %}
        <article class="vacancy">
            <div class="vacancy__title">
                <a href="{{ item.url }}">{{ item.title }}</a>
            </div>
            <div>{{ item.descr }}</div>
            <div class="vacancy__more">
                <a href="{{ item.url }}">подробнее <span class="icon icon-next-double"></span></a>
            </div>
        </article>
        {% endfor %}
    </div>
    <section class="form-section">
        <div class="title title--red">отправить резюме</div>
        {% include 'includes/feedbackform.html' %}
    </section>
</div>
{% endblock %}