@import "normalize.scss";
@import "fonts.scss";
@import "variables.scss";
@import "tags.scss";
@import "mixins.scss";
@import "grid.scss";

@import "header/*";
@import "blocks/*";
@import "footer/*";

@import "utils.scss";

.demo-info {
    padding: 30px 0;
    margin-bottom: 50px;
    background-color: #fff;
    border-bottom: 2px solid #afafaf;
    font-family: Courier New, Courier, monospace;
    color: black;
}

.menu__item._hover {
    .submenu {
        display: block;
    }
}