@font-face {
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 400;
	src: local('Exo 2'), local('Exo2-Regular'),
		 url('../fonts/exo2.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
	font-family: 'bankgothic';
	src: url('../fonts/bankgothic_russ_medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.woff?nv1k6g') format('woff');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e907";
}
.icon-cart:before {
  content: "\e900";
}
.icon-clip:before {
  content: "\e906";
}
.icon-funnel:before {
  content: "\e909";
}
.icon-mail:before {
  content: "\e901";
}
.icon-next:before {
  content: "\e902";
}
.icon-next-double:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e904";
}
.icon-vbo:before {
  content: "\e908";
}
.icon-zoom:before {
  content: "\e905";
}