.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;

	@media (min-width: 1200px) {
		width: 1170px; 
	}

	@include clearfix();
}
 
.row {
	margin-left: -15px;
	margin-right: -15px;

	@include clearfix();
}

.col-sm-10 {
	margin: 0 auto;
	
	@media (min-width: 768px) {
		width: 750px;
	}
}

.flex-container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
	@media (min-width: 1200px) {
		width: 1170px;
	}  
}

.page-wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	flex-grow: 1;
	position: relative;
}

.clearfix-after {
	@include clearfix();
}