@mixin clearfix() {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin placeholder($color) {
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-family: inherit;
        color: $color;
    }
    &::-moz-placeholder { /* Firefox 19+ */
        font-family: inherit;
        color: $color;
        opacity: 1;
    }
    &:-ms-input-placeholder { /* IE 10+ */
        font-family: inherit;
        color: $color;
    }
    &:-moz-placeholder { /* Firefox 18- */
        font-family: inherit;
        color: $color;
        opacity: 1;
    }
}