html {
    height: 100%;
    font-size: 16px;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $gray-2;
    font-family: $exo;
}

* {
    box-sizing: border-box;
    outline: none;
}

h1 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: none; 
}

p {
    margin-top: 0;
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0;
    }
}

input,
textarea {
    width: 100%;
    font-family: inherit;

    &:focus {
        // box-shadow: 0 0 1px 1px $red;
        border-color: $red !important;
    }
}

textarea {
    resize: none;
}

button {
    cursor: pointer;
    border: none;
    font-family: $bank;
}

figure {
    margin: 0;
}