.text-center {
    text-align: center;
}

.text-red {
    color: $red;
}

.fake-link {
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

.pt-0 {
    padding-top: 0;
}

.pt-50 {
    padding-top: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mt-50 {
    margin-top: 50px;
}

.hidden {
    display: none;
}

.loading-btn {
    color: transparent !important;
    position: relative;

    &:after {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border: 3px solid #fff;
        border-left-color: transparent;
        border-top-color: transparent;
        border-radius: 50%;
        outline: 0 solid rgba(0,0,0,0);
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -13px;
        margin-left: -13px;
        animation-name: spinner;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0.74, 0.46, 0.21, 0.53);
    }
}

@keyframes spinner {
    100% {
        transform: rotate(360deg);
    }
}

[class*="ymaps-2"][class*="-ground-pane"] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 3.5+ */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
}