@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nv1k6g');
  src:  url('fonts/icomoon.eot?nv1k6g#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nv1k6g') format('truetype'),
    url('fonts/icomoon.woff?nv1k6g') format('woff'),
    url('fonts/icomoon.svg?nv1k6g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e907";
}
.icon-cart:before {
  content: "\e900";
}
.icon-clip:before {
  content: "\e906";
}
.icon-funnel:before {
  content: "\e909";
}
.icon-mail:before {
  content: "\e901";
}
.icon-next:before {
  content: "\e902";
}
.icon-next-double:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e904";
}
.icon-vbo:before {
  content: "\e908";
}
.icon-zoom:before {
  content: "\e905";
}
