.footer-bottom {
    padding: 25px 0;
    background-color: $gray-3;
}

.footer-bottom__lists {
    @media (min-width: 768px) {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    @media (min-width: 1200px) {
        margin: 0 auto;
        width: 1170px;
    }
}

.footer-bottom__list-container {
    padding: 0 15px;

    @media (max-width: 991px) {
        margin-bottom: 40px;
    }
}

.footer-bottom__list-title {
    margin-bottom: 12px;
    font-family: $bank;
    text-transform: uppercase;
    color: $red;
}

.footer-bottom__list {
    @include list-reset();
    margin-right: 70px;
    color: #c1c1c2;

    a {
        &:hover {
            color: $red;
        }
    }

    li {
        &:not(:last-of-type) {
            margin-bottom: 4px;
        }

        &.active {
            text-decoration: underline;
            color: #fff;
        }
    }
}

.footer-bottom__vbo {
    margin-top: 15px;
    padding: 0 15px;
    font-size: 12px;
    color: #585858;
    text-align: center;
    @include clearfix();

    &:hover {
        color: $red;
    }

    .icon {
        margin-bottom: 2px;
        display: block;
        font-size: 18px;
    }

    @media (min-width: 992px) {
        span {
            display: block;
            float: right;
        }
    }

    @media (min-width: 1200px) {
        margin-left: auto;
        margin-right: auto;
        width: 1170px;
    }
}

.footer-bottom__vbo-caption {
    @media (min-width: 992px) {
        padding-top: 7px;
    }
}