.footer-top {
    padding: 36px 0;
    background-color: $black;
}

.footer-top__container {
    @media (min-width: 992px) {
        display: flex;
        align-items: flex-start;
    }

    @media (min-width: 1200px) {
        margin: 0 auto;
        width: 1170px;
    }
}

.footer-top__logo {
    margin-bottom: 30px;
    padding: 0 15px;
    text-align: center;

    img {
        width: 100%;
        max-width: 265px;
    }

    @media (min-width: 992px) {
        margin-bottom: 0;
        text-align: left;
        width: 25%;
    }
}

.footer-top__contacts {
    @include list-reset();
    margin-bottom: 30px;
    padding: 0 15px;
    color: #c1c1c2;
    text-align: center;

    a {
        &:hover {
            color: $red;
        }
    }

    li {
        &:not(:last-of-type) {
            margin-bottom: 10px;
        }
    }

    @media (min-width: 992px) {
        margin-bottom: 0;
        width: 25%;
        text-align: left;
    }
}

.footer-top__search {
    padding: 0 15px;

    @media (min-width: 992px) {
        width: 50%;
    }
}

.footer-top__search-input-wrap {
    position: relative;

    &:before {
        content: '\e905';
        font-family: 'icomoon';
        font-size: 20px;
        color: $red;
        position: absolute;
        left: 12px;
        top: 10px;
    }

    input {
        padding: 10px 10px 10px 40px;
        flex-grow: 1;
        background-color: $black;
        border: 1px solid #c1c1c2;
        color: #c1c1c2;
    }

    @media (min-width: 520px) {
        margin-right: 10px;
        flex-grow: 1;

        &:before {
            top: 10px;
        }
    }

    @media (min-width: 992px) {
        &:before {
            top: 17px;
        }

        input {
            padding-top: 17px;
            padding-bottom: 17px;
        }
    }
}

.footer-top__search-inner {
    @media (max-width: 519px) {
        .btn {
            display: block;
            margin: 10px auto 0;
        }
    }

    @media (min-width: 520px) {
        display: flex;
    }
}