<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
<head>
    <title>{% block title %}{% endblock %} | Армата</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="favicon/manifest.json">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#2ac394">
    <meta name="msapplication-TileColor" content="#2ac394">
    <meta name="msapplication-TileImage" content="favicon/mstile-150x150.png">
    <meta name="msapplication-config" content="favicon/browserconfig.xml" />

    <meta property="og:title" content="Армата" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="img/og_logo.jpg" />
    {% block css %}
    {% endblock %}

    <!-- <link rel="stylesheet" href="css/style.min.css"> -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="page-wrapper">
        {% include "includes/header.html" %}

        {% block content %}
        {% endblock %}
    </div>

    {% include "includes/footer.html" %}

    <script src="js/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/addToCart.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>