<div id="js-agreement-popup" class="page-overlay">
    <div class="popup">
        <span class="popup__close">✕</span>
        <div class="popup__content">
            <div class="agreement-popup">
                <div class="html-text">
                    <h1>ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ (далее – Соглашение)</h1>
                    <p>Настоящее Соглашение регулирует порядок обработки и использования персональных и иных данных Обществом с ограниченной ответственностью
                    "Армата" (далее – ООО "Армата").</p>
                    <p>Передавая ООО "Армата" персональные и иные данные посредством Сайта, Пользователь подтверждает свое согласие на использование
                    указанных данных на условиях, изложенных в настоящем Соглашении.</p>
                    <p>Если Пользователь не согласен с условиями настоящего Соглашения, он обязан прекратить использование Сайта.</p>
                    <p>Безусловным акцептом настоящего Соглашения является начало использования Сайта Пользователем.</p>
        
                    <h2>1. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ, ИСПОЛЬЗУЕМЫЕ В ТЕКСТЕ НАСТОЯЩЕГО СОГЛАШЕНИЯ</h2>
                    <p>1.1. Сайт – веб-сайт, расположенный в сети Интернет по адресу http://armata-khv.ru</p>
                    <p>Все исключительные права на Сайт и его отдельные элементы (включая программное обеспечение, дизайн) принадлежат ООО "Армата"
                    в полном объеме.</p>
                    <p>Передача исключительных прав Пользователю не является предметом настоящего Соглашения.</p>
                    <p>1.2. Пользователь – лицо использующее Сайт.</p>
                    <p>1.3. Законодательство – действующее законодательство Российской Федерации.</p>
                    <p>1.4. Персональные данные – персональные данные Пользователя, которые Пользователь предоставляет о себе самостоятельно в процессе
                    использования Сайта.</p>
                    <p>1.5. Данные – иные данные о Пользователе (не входящие в понятие Персональных данных).</p>
                    <p>1.6. Услуга(и) – услуги, предоставляемые ООО "Армата".</p>
        
                    <h2>2. СБОР И ОБРАБОТКА ПЕРСОНАЛЬНЫХ ДАННЫХ</h2>
                    <p>2.1. ООО "Армата" собирает и хранит только те Персональные данные, которые необходимы для оказания Услуг ООО "Армата" и взаимодействия
                    с Пользователем.</p>
                    <p>2.2. Персональные данные могут использоваться в следующих целях:</p>
                    <p>2.2.1 Оказание Услуг Пользователю;</p>
                    <p>2.2.2 Идентификация Пользователя;</p>
                    <p>2.2.3 Взаимодействие с Пользователем;</p>
                    <p>2.2.4 Направление Пользователю рекламных материалов, информации и запросов;</p>
                    <p>2.2.5 Проведение статистических и маркетинговых исследований;</p>
                    <p>2.3. ООО "Армата" в том числе обрабатывает следующие данные:</p>
                    <p>2.3.1 Фамилия, имя и отчество;</p>
                    <p>2.3.2 Адрес электронной почты;</p>
                    <p>2.3.3 Номер мобильного телефона;</p>
                    <p>2.3.4 Название компании, должность.</p>
                    <p>2.4. Пользователю запрещается указывать на Сайте персональные данные третьих лиц.</p>
        
                    <h2>3. ПОРЯДОК ОБРАБОТКИ ПЕРСОНАЛЬНЫХ И ИНЫХ ДАННЫХ</h2>
                    <p>3.1. ООО "Армата" обязуется использовать Персональные данные в соответствии с Федеральным Законом «О персональных данных»
                    № 152-ФЗ от 27 июля 2006 г. и внутренними документами ООО "Армата".</p>
                    <p>3.2. В отношении Персональных данных и иных Данных Пользователя сохраняется их конфиденциальность, кроме случаев, когда указанные
                    данные являются общедоступными.</p>
                    <p>3.3. ООО "Армата" имеет право сохранять архивную копию Персональных данных и Данных.</p>
                    <p>3.4. ООО "Армата" имеет право передавать Персональные данные и Данные Пользователя без согласия Пользователя следующим лицам:</p>
                    <p>3.4.1 Государственным органам, в том числе органам дознания и следствия, и органам местного самоуправления по их мотивированному
                    запросу;</p>
                    <p>3.4.2 Партнерам ООО "Армата";</p>
                    <p>3.4.3 В иных случаях, прямо предусмотренных действующим законодательством РФ.</p>
                    <p>3.5. ООО "Армата" имеет право передавать Персональные данные и Данные третьим лицам, не указанным в п. 3.4. настоящего Соглашения,
                    в следующих случаях:</p>
                    <p>3.5.1 Пользователь выразил свое согласие на такие действия;</p>
                    <p>3.5.2 Передача необходима в рамках использования Пользователем Сайта или оказания Услуг Пользователю;</p>
                    <p>3.6. ООО "Армата" осуществляет автоматизированную и ручную обработку Персональных данных и Данных.</p>
                    
                    
                    <h2>4. ЗАЩИТА ПЕРСОНАЛЬНЫХ ДАННЫХ</h2>
                    <p>4.1. ООО «Армата» осуществляет надлежащую защиту Персональных и иных данных в соответствии с Законодательством и принимает
                    необходимые и достаточные организационные и технические меры для защиты Персональных данных.</p>
                    <p>4.2. Применяемые меры защиты в том числе позволяют защитить Персональные данные от неправомерного или случайного доступа,
                    уничтожения, изменения, копирования, распространения, а также от иных неправомерных действий с ними третьих лиц.</p>
                    
                    <h2>5. ИНЫЕ ПОЛОЖЕНИЯ</h2>
                    <p>5.1. К настоящем Соглашении и отношениям между Пользователем и ООО «Армата», возникающим в связи с применением Соглашения,
                    подлежит применению право Российской Федерации.</p>
                    <p>5.2. Все возможные споры, вытекающие из настоящего Соглашения, подлежат разрешению в соответствии с действующим законодательством
                    по месту регистрации ООО «Армата». Перед обращением в суд Пользователь должен соблюсти обязательный досудебный порядок и
                    направить в ООО «Армата» соответствующую претензию в письменном виде. Срок ответа на претензию составляет 30 (тридцать) рабочих
                    дней.</p>
                    <p>5.3. Если по тем или иным причинам одно или несколько положений Соглашения будут признаны недействительными или не имеющими
                    юридической силы, это не оказывает влияния на действительность или применимость остальных положений Соглашения.</p>
                    <p>5.4. ООО «Армата» имеет право в любой момент изменять Соглашение (полностью или в части) в одностороннем порядке без предварительного
                    согласования с Пользователем. Все изменения вступают в силу на следующий день после размещения на Сайте.</p>
                    <p>5.5. Пользователь обязуется самостоятельно следить за изменениями Соглашения путем ознакомления с актуальной редакцией.</p>
        
                    <h2>6. КОНТАКТНАЯ ИНФОРМАЦИЯ ООО «Армата»</h2>
                    <p>6.1. Телефон: 8 (4212) 74-88-45</p>
                    <p>6.2. E-mail: rus@armata-khv.ru</p>
                    <p>6.3. 680042, Хабаровский край, г. Хабаровск, ул. Сибирская, д 6</p>
                </div>
            </div>
        </div>
    </div>
</div>