<form action="" class="form">
    {% if CART_PAGE %}
        <input type="hidden" id="order-info">
    {% endif %}
    <div class="form__field-wrap">
        <div class="form__field-alert">Обязательное поле</div>
        <input type="text" placeholder="Имя">
    </div>
    <div class="form__field-wrap">
        <div class="form__field-alert">Обязательное поле</div>
        <input type="email" placeholder="E-mail">
    </div>
    <div class="form__field-wrap">
        <div class="form__field-alert">Обязательное поле</div>
        <input type="tel" placeholder="Телефон">
    </div>
    {% if VACANCIES_PAGE %}
        <div class="form__field-wrap">
            <label id="js-file-field" class="form__file-field">
                <span id="js-file-field-caption" class="form__file-field-caption">Прикрепить резюме</span>
                <input type="file" placeholder="Прикрепить резюме">
            </label>
        </div>
    {% else %}
        <div class="form__field-wrap">
            <div class="form__field-alert">Обязательное поле</div>
            <input type="text" placeholder="Город доставки">
        </div>
    {% endif %}
    <div class="form__field-wrap form__field-wrap--fullwidth">
        <textarea placeholder="Сообщение"></textarea>
    </div>
    <div class="form__submit">
        <div class="control control--checkbox">
            Я даю своё согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных <span class="fake-link" id="js-agreement-open">Политикой конфиденциальности.</span>
            <label>
                <input class="js-agreement-check" type="checkbox">
                <span class="control__indicator"></span>
            </label>
        </div>
        <button class="btn"><span>отправить</span></button>
    </div>
</form>

{% include "includes/agreement.html" %}