<footer class="footer">
    <div class="footer-top">
        <div class="footer-top__container">
            <div class="footer-top__logo">
                <a href="/"><img src="img/logo.svg" alt="армата"></a>
            </div>
            <ul class="footer-top__contacts">
                <li><a href="tel:84212748845">8 (4212) 74-88-45   </a></li>
                <li><a href="mailto:rus@armata-khv.ru">rus@armata-khv.ru</a></li>
                <li>г.&nbsp;Хабаровск,  ул.&nbsp;Сибирская, дом 6</li>
            </ul>
            <form action="" class="footer-top__search">
                <div class="footer-top__search-inner">
                    <div class="footer-top__search-input-wrap">
                        <input type="text" placeholder="Введите наименование или артикул...">
                    </div>
                    <button class="btn"><span>найти</span></button>
                </div>
            </form>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom__lists">
            {% for list in footer_lists %}
            <div class="footer-bottom__list-container">
                <div class="footer-bottom__list-title">{{ list.title }}</div>
                <ul class="footer-bottom__list">
                    {% for list_item in list.links %}
                    <li><a href="{{ list_item.url }}">{{ list_item.text }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
        <div class="footer-bottom__vbo">
            <a href="http://vbo27.ru">
                <span class="icon icon-vbo"></span>
                <span class="footer-bottom__vbo-caption">разработка сайта</span>
            </a>
        </div>
    </div>
</footer>