<header class="page-header {{ header_class }}">
    <div class="page-header-top">
        <div class="page-header__logo">
            <a href="/"><img src="img/logo.svg" alt="армата"></a>
        </div>
        <a class="page-header-top__link" href=""><span class="icon icon-phone"></span> 8 (4212) 74-88-99</a>
        <a class="page-header-top__link" href="mailto:rus@armata-khv.ru"><span class="icon icon-mail"></span> rus@armata-khv.ru</a>
        <div class="page-header__cart">
            <div class="page-header__cart-inner">
                <div id="cart-items" class="page-header__cart-quantity"></div>
                <a href="/cart.html"><span class="icon icon-cart"></span></a>
            </div>
        </div>
    </div>
    <nav class="menu">
        <div class="menu__inner-container">
            <div class="mobile-menu">
                {% if PAGE_HAS_SIDEBAR %}
                    <button id="open-sidebar" class="sidebar-toggle">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" x="0px" y="0px" viewBox="0 0 341.333 341.333" style="enable-background:new 0 0 341.333 341.333;" xml:space="preserve">
                            <g>
                                <path fill="#ffffff" d="M170.667,85.333c23.573,0,42.667-19.093,42.667-42.667C213.333,19.093,194.24,0,170.667,0S128,19.093,128,42.667
                                    C128,66.24,147.093,85.333,170.667,85.333z"/>
                                <path fill="#ffffff" d="M170.667,128C147.093,128,128,147.093,128,170.667s19.093,42.667,42.667,42.667s42.667-19.093,42.667-42.667
                                    S194.24,128,170.667,128z"/>
                                <path fill="#ffffff" d="M170.667,256C147.093,256,128,275.093,128,298.667c0,23.573,19.093,42.667,42.667,42.667s42.667-19.093,42.667-42.667
                                    C213.333,275.093,194.24,256,170.667,256z"/>
                            </g>
                        </svg>
                    </button>
                {% endif %}
                <button class="mobile-menu__toggle" id="menu-toggle">
                    <div class="mobile-menu__toggle-bar"></div>
                    <div class="mobile-menu__toggle-bar"></div>
                    <div class="mobile-menu__toggle-bar"></div>
                </button>
            </div>
            <ul id="menu-list" class="menu__list">
                <li id="close-menu" class="menu__list-close">✕</li>
                {% for item in menu %}
                    <li class="menu__item">
                        <a href="{{ item.url }}"><span>{{ item.title }}</span></a>
                        {% if item.submenu %}
                            <div class="submenu">
                                {% for item in item.submenu %}
                                    <div class="submenu__group">
                                        <div class="submenu__title">
                                            <a href="#">{{ item.title }}</a>
                                        </div>
                                        <ul class="submenu__list">
                                            {% for link in item.links %}
                                                <li class="submenu__list-item"><a href="{{ link.url }}">{{ link.name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endfor%}
                        </div>
                        {% endif %}
                    </li>
                {% endfor%}
            </ul>
        </div>
    </nav>
</header>