<nav class="paginator">
    <a href="#" class="paginator__prev">
        <span class="icon icon-back"></span>
    </a>

    <a href="#" class="paginator__link active">1</a>
    <a href="#" class="paginator__link">2</a>
    <a href="#" class="paginator__link">3</a>
    <a href="#" class="paginator__link">4</a>
    <a href="#" class="paginator__link">5</a>
    <a href="#" class="paginator__link">6</a>
    <a href="#" class="paginator__link">7</a>
    <a href="#" class="paginator__link">8</a>
    <a href="#" class="paginator__link">9</a>
    <a href="#" class="paginator__link">10</a>

    <a href="#" class="paginator__next">
        <span class="icon icon-next"></span>
    </a>
</nav>