<div id="js-product-popup" class="page-overlay">
    <div class="popup">
        <span class="popup__close">✕</span>
        <div class="popup__content">
            <div class="product-popup">
                <div class="product-popup__title">
                    <span id="js-product-popup__title"></span>
                </div>
                <div class="product-popup__body">
                    <div class="product-popup__main">
                        <div class="product-popup__left">
                            <div class="product-img">
                                <img id="js-product-popup__img" src="" alt="">
                            </div>
                        </div>
        
                        <div class="product-popup__right">
                            <table class="product-info">
                                <tbody id="js-product-popup__info"></tbody>
                            </table>
                            <div class="product-popup__add js-submit-block">
                                <div id="js-product-popup__price" class="product-popup__price"></div>
                                <div class="product-popup__amount js-amount">
                                    <span class="product-popup__amount-minus js-amount-minus">
                                        <span class="icon icon-back"></span>
                                    </span>
                                    <div 
                                        class="product-popup__amount-total js-amount-number" 
                                        data-amount="1">1</div>
                                    <span class="product-popup__amount-plus js-amount-plus">
                                        <span class="icon icon-next"></span>
                                    </span>
                                </div>
                                <button
                                    id="js-product-popup__submit"
                                    class="product-popup__amount-submit js-add-to-cart"
                                    data-item-id="">
                                    <span class="icon icon-cart"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="product-note">*Цена на сайте является ориентировочной. Актуальные цены узнавайте у наших менеджеров.</div>
                    <div id="js-product-popup__description" class="product-description"></div>
                </div>
            </div>
        </div>
    </div>
</div>